<div class="CodeOfConduct__content">
  <div class="flexContentWrapper">
    <h1 class="CodeOfConduct__title ContentPanel__title">Code of conduct</h1>
    <h2 class="CodeOfConduct__subheading">Code of conduct</h2>
    <div class="CodeOfConduct__codeContent">
      <p>You need to comply with your employer’s code of conduct (covering drugs and alcohol use etc.) and work health and safety policies and procedures.</p>
    </div>
    <h2 class="CodeOfConduct__subheading">Social media</h2>
    <div class="CodeOfConduct__socialContent">
      <p>Want to express yourself and communicate through social media like Facebook, Instagram, Twitter, blogs etc.? That’s okay, but bear in mind:</p>
      <ul>
        <li>the internet is not an anonymous tool</li>
        <li>use good judgement about what you post, especially if the material could potentially damage the reputation of <span class="nbnMention">nbn</span>, its customers, its products, its suppliers or its people</li>
        <li>comply with the social media policy of both <span class="nbnMention">nbn</span> and your employer.</li>
      </ul>
    </div>
  </div>
</div>
<div class="CodeOfConduct__imageContainer"></div>
