@import '~styles/vars';

networkDim = 46vw;
nodeDim = 0.25 * networkDim;

@keyframes connectorPulse {
  0% {
    transform: scale(1.2);
    opacity: 0.1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

highlightConnector() {
  transition: all 0.4s ease-out;
  stroke: colBlue;
  stroke-width: 10;
  stroke-dasharray: 0.1, 12;
}

for n in 1 2 3 4 5 {
  .network.connector{n}Highlight {
    #Connector{n}_{n + 1} {
      highlightConnector();
    }
  }
}

.network.connector6Highlight {
  #Connector6_1 {
    highlightConnector();
  }
}
