<div class="ContentPanel__title YourRole__title">Your role</div>
<div class="YourRole__mainContentContainer YourRole__mainContent_hidden">
  <div class="YourRole__messagesDragables">
    <div class="flexContentWrapper">
      <div class="YourRole__dragMessagesContainer">
        <div class="YourRole__intro">
          <p>The <span class="nbnMention">nbn</span>™ network aspires to open up a world of possibilities across areas such as education, business, health and entertainment.</p>
          <p class="YourRole__instructions">What’s your role in delivering these aspirations? <strong>Drag and drop the images below to fill in the blanks:</strong></p>
        </div>
        <% each(dragDrops, function (item) { %>
        <div class="YourRole__dragMessage" data-key="<%= item.key %>">
          <%= item.message %>
          <div class="YourRole__videoLink" data-videoID=<%= item.videoID %>><%= item.videoLinkText %></div>
        </div>
        <% }) %>
      </div>
      <div class="YourRole__dragablesContainer">
      <% each(dragDrops, function (item) { %>
        <div
          class="YourRole__dragable dragable"
          style="background-image: url(<%= item.image %>)"
          data-key=<%= item.key %>
        ></div>
      <% }) %>
      </div>
    </div>
  </div>
  <div class="YourRole__dropTargetsContainer">
    <% each(dragDrops, function (item, index) { %>
      <div
        class="YourRole__dropTarget dropTarget"
        data-key="drop<%= index + 1 %>"
      >
        <div class="dropTarget__dragableContainer"></div>
      </div>
    <% }) %>
    <div class="YourRole__dummyNode YourRole__dummyNode_1"></div>
    <div class="YourRole__dummyNode YourRole__dummyNode_3"></div>
    <div class="YourRole__dummyNode YourRole__dummyNode_5"></div>
    <svg class="YourRole__network network" <%= toHTMLAttrString(network.attributes) %>>
      <%= network.content %>
    </svg>
  </div>
</div>
