@import 'nib';
@import '~styles/vars';
@import '~styles/mixins';


.Activity__scrollDownButton {
  scrollDownButtonBlue();
  transform: translate3d(0px, 0px, 0px)
  z-index: 999;
  display: none;
}

@keyframes fade-glide-in {
  0% {
    opacity: 0;
    transform: translate3d(0px, -10vh, 0px)
  }

  50% {
    opacity: 1;
    transform: translate3d(0px, 6%, 0px)
  }

  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
  }
}

@keyframes fade-glide-in-long {
  0% {
    opacity: 0;
    transform: translate3d(0px, -40vh, 0px)
  }

  50% {
    opacity: 1;
    transform: translate3d(0px, 6%, 0px)
  }

  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
  }
}

.Activity_isComplete .Activity__scrollDownButton {
  animation: fade-glide-in 0.8s ease-in-out;
  display: block;

  @media (max-width: breakpointMobile) {
    animation: fade-glide-in-long 0.8s ease-in-out;
  }
}

.Activity__innerWrapper {
  position: relative;
}

.Activity__subTitle {
  font-weight: 400;
  margin-bottom: 0.6em;
}

.Activity__miniDashboardContainer {
  positionAbs(mastheadHeight * 1.1, auto, auto, pageVGutter * 0.4);
  // margin-top: -2rem;

  @media (max-width: breakpointMobile) {
    positionRel();
    text-align: center;
    margin: 0.6em auto;
  }
}

@media (max-width: breakpointMobile) {
  .Activity__contentContainer {
    padding-bottom: 3rem;
  }
}
