@import 'nib/clearfix';
@import '~styles/vars';
@import '~styles/mixins';

.WhatIsABrand .Activity__contentContainer {
  max-width: 50rem;
  margin: 0 auto;
}

.WhatIsABrand__intro {
  text-align: center;
  margin-bottom: 1.4rem;
}

.WhatIsABrand__question {
  margin-bottom: 1em;
}

.WhatIsABrand__instructions {
  font-weight: bold;
}

.WhatIsABrand__dragDropContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.WhatIsABrand__dragables,
.WhatIsABrand__dropTargets, {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.WhatIsABrand__dragables {
  margin-bottom: 2rem;
  min-height: 8rem;
}

.WhatIsABrand__dragable,
.WhatIsABrand__dropTarget {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
}

.WhatIsABrand__dragable {
  backgroundContain();
  background-size: 80%;
  border: 1px solid colGreyPale;
  background-color: white;
}

.WhatIsABrand__dropTarget {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  color: colBlue;
  border: 2px dashed colBlue;
  position: relative;
}

.WhatIsABrand__dropTarget__label {
  width: 100%;
  text-align: center;
}

.WhatIsABrand__dropTarget .dropTarget__dragableContainer {
  transform: scale(0.9);
  position: absolute;
  z-index: 2;
  top: -2px;
  left: -2px;

  .WhatIsABrand__dragable {
    cursor: default;
  }
}

.WhatIsABrand__checkAnswerButtonContainer {
  margin: 4vh auto;
}

.WhatIsABrand__checkAnswerButton {
  pillButton(11em);
  margin: 0 auto;
}

stackVert() {
  .WhatIsABrand__dragDropContainer {
    flex-direction: row-reverse;
  }

  .WhatIsABrand__dragables,
  .WhatIsABrand__dropTargets, {
    flex-direction: column;
    margin: 0;
  }

  .WhatIsABrand__dragable,
  .WhatIsABrand__dropTarget {
    width: 7.4rem;
    height: 7.4rem;
    margin-bottom: 0.4em;
  }

  .WhatIsABrand__checkAnswerButton {
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 600px) and (min-height: 500px) {
  stackVert();
}

@media (max-width: 560px) {
  stackVert();
}
