<div class="WhatIsABrand__intro">
  <div class="ContentPanel__title WhatIsABrand__title">What is a brand?</div>
  <div class="WhatIsABrand__question">What do these brands say to you? Have a go.</div>
  <div class="WhatIsABrand__instructions">Drag and drop each logo to match it with the message.</div>
</div>
<div class="WhatIsABrand__dragDropContainer">
  <div class="WhatIsABrand__dragables">
  <% each(drags, function(drag) { %>
    <div
      class="WhatIsABrand__dragable dragable"
      style="background-image: url(<%= drag.figure %>)"
      data-dragkey="<%= drag.key %>">
    </div>
  <% }) %>
  </div>
  <div class="WhatIsABrand__dropTargets">
  <% each(drops, function(drop) { %>
    <div class="WhatIsABrand__dropTarget dropTarget" data-dragkey="<%= drop.key %>">
      <div class="WhatIsABrand__dropTarget__label"><%= drop.label %></div>
      <div class="dropTarget__dragableContainer"></div>
    </div>
  <% }) %>
  </div>
</div>
<div class="WhatIsABrand__checkAnswerButtonContainer">
  <div class="WhatIsABrand__checkAnswerButton disabled">
    More about brands
  </div>
</div>
<div class="WhatIsABrand__feedbackModal Modal">
  <div class="flexContentWrapper">
    <div class="Modal__content">
      <div class="Modal__title">So, what’s a brand?</div>
      <p>A brand is more than just a logo. A brand offers a promise.</p>
      <p>When you see these well known brands, you instantly know what they sell and what value they offer you.</p>
      <p>Every time you buy one of those brands you understand the type of product you’ll be getting, and you expect a consistent experience from them.</p>
      <p>You also know how you feel about a brand when it doesn’t live up to the promises they make.</p>
    </div>
  </div>
</div>

