@import '~styles/vars';
@import '~styles/mixins';

.ValueProposition {
  background-color: colBlue;
}

.ValueProposition__content {
  flexCenter(column);
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;

  @media (max-width: breakpointMobile) {
    flexCenter(column);
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
  }
}

.ValueProposition__title {
  color: white;
}

.ValueProposition__subTitle {
  color: white;
}

.ValueProposition__content p {
  padding: 1.4em 0;
  margin: 0 auto;
  // font-size: 1.2em;
  width: 80%;
}
