<div class="ValueProposition__content">
  <div class="flexContentWrapper">
    <h1 class="ContentPanel__title ValueProposition__title">Value proposition</h1>
    <h2 class="ContentPanel__subTitle ValueProposition__subTitle">
      Access to fast and reliable broadband helps allow Australia to transition to a digital&nbsp;future.
    </h2>
    <p>You will be part of a team responsible for constructing Australia's largest broadband network and one of our largest infrastructure projects - a task that will touch virtually every home, business, school and family in the&nbsp;country.</p>
  </div>
</div>
