@import '~styles/mixins';
@import '~styles/vars';

panelGutter = 0.3rem;
panelAnimTime = 0.2s;

.PanelGrid__panel {
  transform: translateZ(0);
  position: absolute;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(black, 0.2);
  width: auto;
  z-index: 1;
}

.PanelGrid_twoByTwo .PanelGrid__panel {
  farEdge = 'calc(50% + %s)' % panelGutter;

  &:nth-child(1) {
    top: panelGutter;
    left: panelGutter;
    right: farEdge;
    bottom: farEdge;
  }

  &:nth-child(2) {
    top: panelGutter;
    left: farEdge;
    right: panelGutter;
    bottom: farEdge;
  }

  &:nth-child(3) {
    top: farEdge;
    left: panelGutter;
    right: farEdge;
    bottom: panelGutter;
  }

  &:nth-child(4) {
    top: farEdge;
    left: farEdge;
    right: panelGutter;
    bottom: panelGutter;
  }
}

.PanelGrid_threeInline .PanelGrid__panel {
  top: panelGutter;
  bottom: panelGutter;

  &:nth-child(1) {
    left: panelGutter;
    right: 'calc(66.6% + %s)' % panelGutter;
  }

  &:nth-child(2) {
    left: 'calc(33.3% + %s)' % panelGutter;
    right: 'calc(33.3% + %s)' % panelGutter;
  }

  &:nth-child(3) {
    left: 'calc(66.6% + %s)' % panelGutter;
    right: panelGutter;
  }

  &:nth-child(4) {
    display: none;
  }
}

.PanelGrid__panel__closedContent,
.PanelGrid__panel__openContent {
  positionAbs(0, auto, auto, 0);
  transition: opacity (panelAnimTime * 0.9) ease-out;
  overflow: hidden;
}

.PanelGrid__panel_current {
  transition:
    top panelAnimTime ease-in-out,
    right panelAnimTime ease-in-out,
    bottom panelAnimTime ease-in-out,
    left panelAnimTime ease-in-out;
  top: panelGutter !important;
  right: panelGutter !important;
  bottom: panelGutter !important;
  left: panelGutter !important;
  z-index: 3;
}

.PanelGrid__panel__closedContent {
  transition-delay: none;
  size(100%);
  opacity: 1;

  .PanelGrid__panel_current & {
    transition-delay: panelAnimTime;
    size(0);
    opacity: 0;
  }
}

.PanelGrid__panel__openContent {
  transition-delay: panelAnimTime;
  size(0);
  opacity: 0;

  .PanelGrid__panel_current & {
    transition-delay: none;
    size(100%);
    opacity: 1;
  }
}

@media (max-width: breakpointMobile) {
  .PanelGrid__panel {
    width: 100%;
    margin: 0 auto 1em;
    position: relative;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
  }

  .PanelGrid__panel__closedContent,
  .PanelGrid__panel__openContent {
    position: relative;
    transition: none;
  }

  .PanelGrid__panel__closedContent {
    size(auto);

    .PanelGrid__panel_current & {
      transition-delay: none;
      size(0);
      opacity: 0;
    }
  }

  .PanelGrid__panel__openContent {
    transition-delay: none;
    size(0);

    .PanelGrid__panel_current & {
      size(auto);
    }
  }
}
