@import '~styles/mixins';
@import '~styles/vars';


.PanelGrid__panel__figure {
  backgroundContain();
  positionAbs(0, 0, 2.6rem, 40%);
}

.PanelGrid__panel__caption {
  positionAbs(0, 60%, 2.6rem, 0)
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: auto;
}

.PanelGrid__panel__subHeading {
  font-weight: 400;
  margin-bottom: 0.2em;
}

.PanelGrid__panel__closeButtonContainer {
  positionAbs(auto, 0, 0, 0);
  background-color: colBlue;
  height: 2.6rem;
}

.PanelGrid__panel__closeButton {
  positionAbs(50%, 0.4rem, auto, auto);
  size(2rem);
  line-height: 2rem;
  text-align: center;
  color: white;
  display: block;
  background-color: rgba(colGreyPale, 0.2);
  border-radius: 50%;
  margin-top: -1rem;
  font-size: 1.6rem;
  z-index: 99;
}

.PanelGrid__panel__title {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.PanelGrid__panel__caption__content {
  fontDisplay(300);
  display: block;
  width: 100%;
}

@media (max-width: breakpointMobile) {
  .PanelGrid__panel__figure,
  .PanelGrid__panel__caption,
  .PanelGrid__panel__closeButtonContainer {
    positionRel();
    width: 100%;
    margin: 0;
  }

  .PanelGrid__panel__figure {
    min-height: 14rem;
    height: 40vh;
  }
}

