<% each(panels, function (panel) { %>
<div class="PanelGrid__panel" data-key="<%= panel.key %>">

  <div class="PanelGrid__panel__closedContent">
    <% if (panel.figure) { %>
    <div
      class="PanelGrid__panel__figureThumbnail"
      style="background-image: url(<%= panel.figureThumbnail || panel.figure %>)"
    ></div>
    <% } %>
    <div class="PanelGrid__panel__previewTitle">
      <div class="PanelGrid__panel__previewTitleContent"><%= panel.title %></div>
    </div>
  </div>

  <div class="PanelGrid__panel__openContent">
    <% if (panel.figure) { %>
    <div class="PanelGrid__panel__figure" style="background-image: url(<%= panel.figure %>)"></div>
    <% } %>
    <div class="PanelGrid__panel__caption">
      <div class="PanelGrid__panel__caption__content">
        <div class="PanelGrid__panel__title"><%= panel.title %></div>
        <%= panel.caption %>
      </div>
    </div>
    <div class="PanelGrid__panel__closeButtonContainer">
      <div class="PanelGrid__panel__closeButton">&times;</div>
    </div>
  </div>

</div>
<% }) %>
