<div class="VehicleBrandingSignage__title ContentPanel__title">
  Vehicle branding and signage
</div>
<div class="VehicleBrandingSignage__question">
  <p>We expect a minimum of two signs to be displayed at every construction site. All vehicles and construction machinery operating on or around the site should display the ‘Construction partner of’ signage.</p>
  <p><strong>In the below scene, drag and drop each signage to the correct spot on the construction site.</strong></p>
</div>

<div class="VehicleBrandingSignage__dragDropContainer">
  <div class="VehicleBrandingSignage__dragables">
  <% each(drags, function(drag) { %>
    <div
      class="VehicleBrandingSignage__dragable dragable"
      data-dragkey="<%= drag.key %>">
    </div>
  <% }) %>
  </div>
  <div class="VehicleBrandingSignage__scene">
    <% each(drops, function(drop) { %>
    <div
      class="VehicleBrandingSignage__dropTarget dropTarget"
      data-dragkey="<%= drop.key %>"
    >
      <div class="dropTarget__dragableContainer"></div>
    </div>
    <% }) %>
  </div>
</div>

<div class="VehicleBrandingSignage__checkAnswerButtonContainer">
  <div class="VehicleBrandingSignage__checkAnswerButton disabled">More about signage</div>
</div>

<div class="VehicleBrandingSignage__feedbackModal Modal">
  <div class="Modal__content">
    <div class="Modal__title">Good work!</div>
    <p>At a construction site, you can use either use A-frame or pit-barrier signage, depending on the layout. Both types have <span class="nbnMention">nbn</span>™ branding.</p>
    <p>The vehicle signage is a magnetic stickigrip which can be removed and re-applied to different vehicles. When you are not using your vehicle for work purposes or <span class="nbnMention">nbn</span> related activities, take the stickigrip signage off. The same applies for <span class="nbnMention">nbn</span>™ branded uniform items.</p>
  </div>
</div>

