@import 'nib/clearfix';
@import '~styles/vars';
@import '~styles/mixins';

.UniformsHSE__questionOption {
  size(100%);
  transform: translateZ(0);
  transition: all 0.2s ease-out;
  color: black;
  font-size: 0.8em;
  word-wrap: break-word;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: white;
  box-shadow: 0 0 4px rgba(black, 0.2);
  position: relative;
  overflow: hidden;

  .multiSelect & {
    box-shadow: none;
  }
}

.UniformsHSE__questionOption__imageContainer {
  positionAbs(0, 0, 3rem, 0);
  backgroundContain();

  [data-key="mood"] & {
    background-position: center bottom;
  }
}

.UniformsHSE__questionOption__selectContainer {
  positionAbs(auto, 0, 0, 0);
  flexCenter();
  background-color: colBlue;
  height: 3rem;

  .multiSelect & {
    background-color: transparent;
  }
}

.UniformsHSE__questionOption__selectButton {
  transition: all 0.2s ease-out;
  border: 2px solid white;
  text-align: center;
  margin: 0 auto;
  padding: 0.4rem;
  border-radius: 1.4rem;
  width: 80%;
  max-width: 6rem;
  min-width: 4rem;
  margin: 0 auto;
  color: white;
  transform: scale(1);

  .UniformsHSE__questionOption:hover & {
    transform: translateY(-2px);
    box-shadow: 0 2px 0 rgba(black, 0.2);
  }

  .UniformsHSE__questionOption:active & {
    transition: none;
    transform: translateY(0);
    box-shadow: none;
  }

  .UniformsHSE__questionOption_selected & {
    background-color: white;
    color: colBlue;
  }

  .multiSelect & {
    border-color: colBlue;
    color: colBlue;
  }

  .multiSelect .UniformsHSE__questionOption_selected & {
    background-color: colBlue;
    color: white;
  }
}

.UniformsHSE__questionOption_selected {
  transition: all 0.1s ease-in;
  box-shadow: 0 0 8px rgba(colBlue);
}


