
<div class="RepresentingNBNDashboard__title ContentPanel__title">
  Representing nbn
</div>

<div class="RepresentingNBNDashboard__contentContainer">
  <div class="flexContentWrapper">
    <div class="RepresentingNBNDashboard__preamble">
      <div class="RepresentingNBNDashboard__intro">
        <p>There are simple things you need to keep in mind every time you go to work on the <span class="nbnMention">nbn</span>™ network. These are the same expectations that we have of all our <span class="nbnMention">nbn</span> people; from our field supervisors to our Construction Partners.</p>
      </div>
      <div class="RepresentingNBNDashboard__instruction">
        <strong>Click each area to find out more:</strong>
      </div>
    </div>

    <div class="RepresentingNBNDashboard__dashboard Dashboard">
    <% each(items, function (item, index) { %>
      <<%= item.tag %>
        class="DashboardItem <%= item.className %>"
        href="<%= item.url %>"
        data-key="<%= item.key %>"
      >
        <div class="DashboardItem__content">
          <div class="DashboardItem__figure">
            <div><%= item.figure %></div>
          </div>
          <div class="DashboardItem__caption"><%= item.title %></div>
        </div>
        <div class="DashboardItem__image"></div>
      </<%= item.tag %>>
    <% }) %>
    </div>
  </div>
</div>

<% if (allComplete) { %>
  <a class="RepresentingNBNDashboard__moduleSummaryButton" href="#module-summary">
    See module summary
  </a>
<% } %>

