@import '~styles/mixins';

.AppRoot {
  size(100%);
  margin: 0 auto;
  overflow: auto;
  overflow-x: hidden;
}

.AppRoot__mastheadContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: auto;
  width: 100%;
  height: 0;
}

.AppRoot__bookmarkPanelContainer {
  z-index: 9999;
  display: none;

  &.active {
    positionAbs(40%, auto, auto, 50%);
    size(20rem, 8vh);
    opacity: 1;
    height: 80vh;
    display: block;
    margin-left: -10rem;
  }
}
