@import 'nib/clearfix';
@import '~styles/vars.styl';
@import '~styles/mixins.styl';

.VideoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(colBody, 0.9);
  padding-top: mastheadHeight;
  z-index: 99;
}

.VideoPlayer_hidden {
  display: none;
}

.VideoPlayer__videoEmbedContainer,
.VideoPlayer__closeButtonContainer {
  width: 96vmin;
  margin: 0 auto;
  position: relative;
}

.VideoPlayer__videoEmbedSizer{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.VideoPlayer__videoEmbed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.VideoPlayer__closeButtonContainer {
  clearfix();
  padding: 2vh 0;
}

.VideoPlayer__closeButton {
  pillButton(width = 6em);
  font-size: 0.9rem;
  float: right;
}
