<div class="CustomerInteractionsActv__contentContainer">
  <div class="flexContentWrapper">
    <div class="ContentPanel__title CustomerInteractionsActv__title">
      Customer interactions
    </div>
    <div class="CustomerInteractionsActv__intro">
      <p>How you interact with our customers impacts their feeling towards the <span class="nbnMention">nbn</span>™ brand. Think about your own experience as a customer.</p>
      <p>What can you do as part of the <span class="nbnMention">nbn</span> team to provide a positive experience? <strong>Click the three images below:</strong></p>
    </div>
    <div class="CustomerInteractionsActv__panelGridContainer">
      <!-- Sub view -->
    </div>
  </div>
</div>
