@charset "utf-8";
/* 
	CSS Document for 
	Victoria Racing Club: Training Manaual
	By: Aakash Bhatia
	Email: akash.bhatia1184@gmail.com
	URI: http://www.thebrauxelcode.com/
*/

/*-------------------------------------------------------------------------------------	
	0.	CSS Resets
	1.	Global Styles
	2.  Index Page Styles
-------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Resets
/*-----------------------------------------------------------------------------------*/
* {
	margin:0px;
	padding:0px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display:block;
}

/*-----------------------------------------------------------------------------------*/
/*	1.	Global Styles
/*-----------------------------------------------------------------------------------*/
/* Elements */
body {
	background:no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:Arial, sans-serif;
	font-size:20px;
	line-height:24px;
	color:#3d3b3b;
}

a {
	outline:none;
	transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
	color:inherit;
	text-decoration:none;
}
	a:hover {
		opacity:0.8;
	}
	
p {
	margin-top:10px;
	margin-bottom:10px;
}
	
h1 {
	font-size:32px;
	line-height:44px;
	color:#ec3a94;
	font-family:Helvetica, Arial, sans-serif;
}

h2 {
	font-size:30px;
	line-height:40px;
	color:#155f9c;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:500;
}

h3 {
	font-size:21px;
	line-height:50px;
	color:#fff;
	background-color:#272324;
	font-family:Helvetica, Arial, sans-serif;
}

h4 {
	display:block;
	width:184px;
	height:35px;
	line-height:35px;
	color:#fff;
	padding-left:20px;
	font-family:Arial, sans-serif;
	font-weight:600;
	font-size:18px;
}

blockquote {
	font-size:12px;
	line-height:18px;
}

/* Classes */
.wrap {
	width:984px;
	position:relative;
	margin:0 auto;
	padding-left:20px;
	padding-right:20px;
}

.clear {
	clear:both;
}

.superhide {
	display:none !important;
}

.supershow {
	display:block !important;
}

/* IDs */
#content {
	padding-top:20px;
	padding-bottom:20px;
}

/*  Header Styles */
#logo {
	background-color:#FFF;
	background-image:url(../images/victoria-racing-club.png);
	background-repeat:no-repeat;
	background-position:center center;
	display:block;
	text-indent:-1000px;
	overflow:hidden;
	width:370px;
	height:95px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 5px 5px 0px rgba(204,204,204,0.9);
	box-shadow: 0px 5px 5px 0px rgba(204,204,204,0.9);
	float:left;
}

.header-menu {
	list-style-type:none;
	float:right;
	margin-top:33px;
}
	.header-menu li {
		float:left;
		margin-left:25px;
	}
		.header-menu li a {
			background-position:center center;
			background-repeat:no-repeat;
			overflow:hidden;
			text-indent:-1000px;
			height:75px;
			width:75px;
			display:block;
		}
			.header-menu li a.home-icon {
				background-image:url(../images/header/home.png);
			}
			.header-menu li a.help-icon {
				background-image:url(../images/header/help.png);
			}
			.header-menu li a.glossary-icon {
				background-image:url(../images/header/glossary.png);
			}
			.header-menu li a.stud-to-sale-indicator {
				background-image:url(../images/stud-to-sale/stud-to-sale.png);
				background-repeat:no-repeat;
				background-position:center center;
				width:135px;
				height:35px;
				line-height:22px;
				display:block;
				color:#17649d;
				text-indent:0px;
				font-size:16px;
				line-height:18px;
				text-align:right;
				padding-top:15px;
				cursor:default;
				margin-top:15px;
				font-size:12px;
				line-height:16px;
			}
			.header-menu li a.race-prep-indicator {
				background-image:url(../images/race-preparation/race-preparation.png);
				background-repeat:no-repeat;
				background-position:center center;
				width:124px !important;
				height:50px !important;
				line-height:22px;
				display:block;
				color:#17649d;
				text-indent:0px;
				font-size:16px;
				line-height:18px;
				text-align:right;
				padding-top:0px;
				cursor:default;
				margin-top:18px;
				font-size:12px;
				line-height:16px;
			}
			.header-menu li a.raceday-indicator {
				background-image:url(../images/raceday/raceday.png);
				background-repeat:no-repeat;
				background-position:center center;
				width:133px !important;
				height:50px !important;
				line-height:22px;
				display:block;
				color:#17649d;
				text-indent:0px;
				font-size:16px;
				line-height:18px;
				text-align:left;
				padding-top:0px;
				cursor:default;
				margin-top:18px;
				font-size:12px;
				line-height:16px;
			}
			.header-menu li a.training-at-flemington-indicator {
				background-image:url(../images/training-at-flemington/training-at-flemington.png);
				background-repeat:no-repeat;
				background-position:center center;
				width:160px;
				height:30px;
				line-height:22px;
				display:block;
				color:#17649d;
				text-indent:0px;
				font-size:16px;
				line-height:18px;
				text-align:right;
				padding-top:20px;
				cursor:default;
				margin-top:15px;
				font-size:12px;
				line-height:16px;
			}
			.header-menu li a.after-the-race-indicator {
				background-image:url(../images/after-the-race/after-the-races.png);
				background-repeat:no-repeat;
				background-position:center center;
				width:141px;
				height:30px;
				line-height:22px;
				display:block;
				color:#17649d;
				text-indent:0px;
				font-size:16px;
				line-height:18px;
				text-align:left;
				padding-top:20px;
				cursor:default;
				margin-top:15px;
				font-size:12px;
				line-height:16px;
			}
			
/*-----------------------------------------------------------------------------------*/
/*	1.	Index Page Styles
/*-----------------------------------------------------------------------------------*/
.landing-page {
	background-image:url(../images/landing-page/background.jpg);
}
	.landing-page #content {
		text-align:right;
	}
	.landing-page h1 {
		font-size:48px;
		line-height:64px;
	}
	.landing-page a.start-here {
		background-image:url(../images/landing-page/start-here-line.png);
		background-repeat:no-repeat;
		background-position:left 80%;
		display:inline-block;
		text-indent:-1000px;
		overflow:hidden;
		width:100px;
		height:25px;
		margin-top:37px;
		position:relative;
		padding-right:250px;
		padding-top:100px;
		color:#17649d;
	}
		.landing-page a.start-here .img-holder {
			position:absolute;
			height:125px;
			width:125px;
			right:0px;
			top:0px;
		}
/*-----------------------------------------------------------------------------------*/
/*	2.	About Us Page Styles
/*-----------------------------------------------------------------------------------*/
.about-us {
	background-image:url(../images/about-us/bg.jpg);
	background-repeat:no-repeat;
	background-position:center center;
}
	.about-us #content {
		text-align:center;
	}
		.about-us #content p {
			text-align:left;
			width:745px;
			margin:0 auto;
			margin-top:10px;
			margin-bottom:10px;
		}
	.about-us a.start-here {
		display:block;
		width:70px;
		height:70px;
		margin:0 auto;
	}
/*-----------------------------------------------------------------------------------*/
/*	3.	Home Page Styles
/*-----------------------------------------------------------------------------------*/
.home-page {
	background-image:url(../images/home-page/background.jpg);
}
	.home-page #content {
	}
	.home-page .page-description {
		width:480px;
		float:left;
	}
	nav .active {
		opacity:1;
	}
	nav .inactive {
		opacity:0.5;
	}
		nav .inactive a {
			cursor:default !important;
		}

.heart-beat {
	min-height:101px;
	margin-left:104px;
	position:absolute;
	z-index:99;
	top:0px;
	opacity:0.8;
}
.menu-row-single {
	width:410px;
	margin-right:94px;
	float:right;
	min-height:100px;
	position:relative;
}
.menu-row {
	width:820px;
	float:right;
	margin-top:-5px;
}
.menu-row .menu-column {
	position:relative;
	width:50%;
	margin-top:13px;
	margin-bottom:13px;
}

a.winners-circle {
	background-image:url(../images/home-page/winners-circle.png);
	background-repeat:no-repeat;
	background-position:top left;
	display:block;
	height:60px;
	width:325px;
	text-align:right;
	padding-top:20px;
	margin-left:13px;
	margin-top:20px;
	color:#17649d;
}
a.back-to-races {
	background-image:url(../images/home-page/back-to-races.png);
	background-repeat:no-repeat;
	background-position:top right;
	display:block;
	height:69px;
	width:230px;
	text-align:left;
	padding-top:10px;
	margin-left:150px;
	margin-top:20px;
	color:#17649d;
}
a.stud-to-sale {
	background-image:url(../images/home-page/stud-to-sale.png);
	background-repeat:no-repeat;
	background-position:top left;
	display:block;
	height:49px;
	width:230px;
	text-align:right;
	padding-top:30px;
	margin-left:187px;
	margin-top:20px;
	color:#17649d;
}
a.raceday {
	background-image:url(../images/home-page/raceday.png);
	background-repeat:no-repeat;
	background-position:top right;
	display:block;
	height:58px;
	width:230px;
	text-align:left;
	padding-top:30px;
	margin-left:150px;
	margin-top:20px;
	color:#17649d;
}
a.training-at-flemington {
	background-image:url(../images/home-page/training-at-flemington.png);
	background-repeat:no-repeat;
	background-position:top left;
	display:block;
	height:58px;
	width:240px;
	text-align:right;
	padding-top:20px;
	margin-left:181px;
	margin-top:20px;
	color:#17649d;
}
a.race-preparation {
	background-image:url(../images/home-page/race-preparation.png);
	background-repeat:no-repeat;
	background-position:top left;
	display:block;
	height:20px;
	width:230px;
	text-align:right;
	padding-top:80px;
	margin-left:115px;
	margin-top:0px;
	color:#17649d;
}

.instructions {
	background-color:rgba(0, 0, 0, 0.6);
	color:#fff;
	font-size:18px;
	line-height:22px;
	width:480px;
	position:fixed;
	bottom:0px;
	left:0px;
	display:none;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;	
}
	.instructions h3 {
		padding-left:30px;
		-webkit-border-top-right-radius: 30px;
		-moz-border-radius-topright: 30px;
		border-top-right-radius: 30px;	
	}
	.instructions p {
		padding-left:30px;
		padding-top:20px;
		padding-bottom:20px;
		width:280px;
		float:left;
	}
	.instructions img {
		float:right;
		margin-right:30px;
		margin-left:15px;
		margin-top:40px;
	}
	.instructions p span.tick {
		background-image:url(../images/home-page/tick.png);
		background-repeat:no-repeat;
		background-position:center center;
		width:21px;
		height:21px;
		display:inline-block;
	}
	
/*-----------------------------------------------------------------------------------*/
/*	4.	Stud to Sale Page Styles
/*-----------------------------------------------------------------------------------*/
.stud-to-sale {
	background-image:url(../images/stud-to-sale/background.jpg);
}
	.stud-to-sale .instructions {
		top:130px;
		right:0;
		left:auto;
		height:200px;
		width:420px;
		-webkit-border-top-right-radius:0px;
		-moz-border-radius-topright:0px;
		border-top-right-radius:0px;		
		-webkit-border-top-left-radius: 30px;
		-moz-border-radius-topleft: 30px;
		border-top-left-radius: 30px;
	}
		.stud-to-sale .instructions h3 {
			-webkit-border-top-right-radius:0px;
			-moz-border-radius-topright:0px;
			border-top-right-radius:0px;		
			-webkit-border-top-left-radius: 30px;
			-moz-border-radius-topleft: 30px;
			border-top-left-radius: 30px;
		}
		.stud-to-sale .instructions p {
			float:right;
			padding-left:10px;
			padding-right:30px;
		}
		.stud-to-sale .instructions img {
			float:left;
			margin-right:15px;
			margin-left:30px;
		}
	.stud-to-sale .instruction-set-activity, .stud-to-sale .instruction-set-final	{
		text-align:center;
	}
		.stud-to-sale .instruction-set-activity img, .stud-to-sale .instruction-set-final img {
			float:none;
			margin:0 auto;
			margin-top:33px;
		}
			.stud-to-sale .instruction-set-final img.in-image {
				float:none;
				margin:0px;
				margin-top:5px;
				display:inline-block;
			}
	.stud-to-sale #content {
	}
	.stud-to-sale .page-description {
		width:702px;
		float:left;
	}
	.stud-to-sale .activities-layout section {
		margin-top:10px;
	}
		.stud-to-sale .activities-layout section h4 {
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topright: 10px;
			border-top-right-radius: 10px;
			background: -webkit-linear-gradient(left, #449BB0, #4481B0); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(right, #449BB0, #4481B0); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(right, #449BB0, #4481B0); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to right, #449BB0, #4481B0); /* Standard syntax (must be last) */
		}
	.stud-to-sale .activities-layout .activities-layout-content {
	}
	.stud-to-sale .activities-layout .activities-layout-content .image {
		float:left;
		background-color:#FFF;
		padding-top:15px;
		padding-bottom:15px;
	}
	.stud-to-sale .activities-layout .activities-layout-content .image img {
		display:block;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		margin-left:10px;
		background-color:#FFF;
	}
	.stud-to-sale .activities-layout .activities-layout-content .content {
		float:left;
		padding-left:18px;
		padding-right:18px;
		padding-top:15px;
		padding-bottom:15px;
		background-color:#FFF;
		min-height:120px;
		max-height:120px;
		min-width:299px;
		max-width:299px;
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomright: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	.stud-to-sale .activities-layout .activities-layout-content .video-play {
		height:95px;
		padding-top:35px;
		padding-bottom:20px;
		float:left;
		width:150px;
		background-color:#FFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		position:relative;
	}
		.stud-to-sale .activities-layout .activities-layout-content .video-play .done {
			position:absolute;
			top:10px;
			right:10px;
			display:none;
		}
	
.video-play-button {
	background-image:url(../images/stud-to-sale/video-play-button.png);
	background-repeat:no-repeat;
	background-position:top center;
	display:block;
	height:80px;
	width:auto;
	font-size:18px;
	padding-top:85px;
	text-align:center;
	color:#155F9C;
	margin:0 auto;
}
.activities-button {
	background-image:url(../images/stud-to-sale/activities-button.png);
}
	.activities-button.inactive {
		background-image:url(../images/stud-to-sale/activities-button-inactive.png);
		cursor:default;
		color:#CCCCCC;
	}
	
.role-reveal {
	background: -webkit-linear-gradient(left, #449BB0, #4481B0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #449BB0, #4481B0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #449BB0, #4481B0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #449BB0, #4481B0); /* Standard syntax (must be last) */
	width:200px;
	display:block;
	text-align:center;
	height:35px;
	line-height:35px;
	color:#fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top:20px;
}

.role-revealed {
	display:none;
	text-align:left;
	font-size:12px;
	line-height:18px;
}

.arrows {
	width:41px;
	padding-left:12px;
	padding-right:11px;
	height:150px;
	text-align:center;
	line-height:200px;
	display:inline-block;
	vertical-align:middle;
	float:left;
}

.overlay-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
	background: -webkit-linear-gradient(left, rgba(68, 155, 176, .8), rgba(68, 129, 176, 0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(68, 155, 176, 0.8), rgba(68, 129, 176, 0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(68, 155, 176, 0.8), rgba(68, 129, 176, 0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(68, 155, 176, 0.8), rgba(68, 129, 176, 0.9)); /* Standard syntax (must be last) */
}
    .overlay-content {
        display: none;
        background: #fff;
        padding: 1%;
        width: 900px;
        position: absolute;
        top: 15%;
        left:45%;
        margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
        cursor: default;
        z-index: 10001;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0,0,0,0.9);
    }
		.overlay-content.video-popup {
			height:400px;
			width:688px;
			left:40%;
			top:15% !important;
			background-color:transparent;
			box-shadow:none;
		}
			.overlay-content.video-popup h2 {
				font-size:24px;
				color:#FFF;
			}
		.overlay-content.full-popup {
			height:550px;
			width:880px;
			left:23%;
			top:2%;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			padding:30px;
			font-size:18px;
			background-image:url(../images/stud-to-sale/activity-bg.jpg);
			background-repeat:no-repeat;
			background-position:center center;
			background-size:cover;
			height:700px;
		}
			.overlay-content.help-popup {
				background-image:url(../images/stud-to-sale/help-bg.jpg);
			}
			.overlay-content.full-popup h2 {
				font-size:24px;
			}
			.overlay-content.full-popup .header-menu {
				margin-top:0px;
			}
			.overlay-content.full-popup .header-menu li {
				margin-left:15px;
			}
			.overlay-content.full-popup .header-menu li a {
				width:50px;
				height:50px;
			}
				.overlay-content.full-popup .header-menu li a.glossary-icon {
					background-image:url(../images/stud-to-sale/glossary.png);
				}
				.overlay-content.full-popup .header-menu li a.help-icon {
					background-image:url(../images/stud-to-sale/help.png);
				}
				.overlay-content.full-popup .header-menu li a.home-icon {
					background-image:url(../images/stud-to-sale/home.png);
				}
				.overlay-content.full-popup .header-menu li a.stud-to-sale-indicator {
					width:135px;
					height:35px;
					margin-top:0px;
				}
					.overlay-content.full-popup .header-menu li a.stud-to-sale-indicator:hover {
						opacity:1;
					}
				.overlay-content.full-popup .header-menu li a.after-the-race-indicator {
					width:141px;
					height:30px;
					margin-top:0px;
				}
					.overlay-content.full-popup .header-menu li a.after-the-race-indicator:hover {
						opacity:1;
					}
					
			.overlay-content.full-popup .page-description {
				width:592px;
				float:none;
				margin-top:10px;
			}
			.overlay-content.full-popup .instructions {
				width:388px;
				position:absolute;
				right:0px;
				top:80px;
				height:171px;
			}
				.overlay-content.full-popup .instructions p {
					padding-left:0px;
					padding-right:10px;
					padding-top:0px;
					padding-bottom:0px;
					width:323px;
				}
				.overlay-content.full-popup .instructions img {
					margin-left:10px;
					margin-right:0px;
					margin-top:10px;
					margin-bottom:0px;
				}
				.overlay-content.full-popup .instructions-stud-to-sale-feedback {
					background-color:rgba(236, 58, 148, 0.6);
				}
				.overlay-content.full-popup .instructions-stud-to-sale-feedback h3 {
					background-color:#EC3A94;
				}
			
		
    .close-btn {
        cursor: pointer;
		position:absolute;
		top:-20px;
		right:-10px;
		background-image:url(../images/stud-to-sale/close-button.png);
		background-repeat:no-repeat;
		background-position:center center;
		height:50px;
		width:50px;
		text-indent:-1000px;
		overflow:hidden;
		background-color:transparent;
		border:0px;
    }

.activity {
	margin-top:25px;
}
.answers {
	float:left;
	margin-left:25px;
}
.answer {
	margin-top:80px;
}
.answer-option {
	background-image:url(../images/stud-to-sale/answers-bg.png);
	background-repeat:no-repeat;
	background-position:left center;
	height:40px;
	width:337px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	margin-top:7px;
}
	.answer-option p {
		margin-top:0px;
		margin-bottom:0px;
		font-size:18px;
		line-height:40px;
		color:#fff;
		float:left;
		margin-right:16px;
	}
	.answer-option a {
		background-repeat:no-repeat;
		background-position:center center;
		text-indent:-1000px;
		overflow:hidden;
		display:block;
		float:left;
		width:40px;
		height:40px;
		margin-left:5px;
		margin-right:5px;
	}
	.answer-option a.info {
		background-image:url(../images/stud-to-sale/info-inactive.png);
		
	}
		.answer-option a.info:hover, .answer-option a.info.active {
			background-image:url(../images/stud-to-sale/info-active.png);
		}
	.answer-option a.select {
		background-image:url(../images/stud-to-sale/select-inactive.png);
	}
		.answer-option a.select:hover, .answer-option a.select.active {
			background-image:url(../images/stud-to-sale/select-active.png);
		}
		.answer-option a.select.wrong {
			background-image:url(../images/stud-to-sale/wrong-answer.png);
		}
		.answer-option a.select.correct {
			background-image:url(../images/stud-to-sale/correct-answer.png);
		}
	.answer-option .activity-arrow {
		float:left;
		margin-top:16px;
    }
	
.questions {
	float:right;
	margin-right:25px;
}
.question {
	background-image:url(../images/stud-to-sale/questions-bg.png);
	background-repeat:no-repeat;
	background-position:top center;
	width:413px;
	height:218px;
	padding-top:60px;
	padding-left:30px;
	padding-right:30px;
	font-size:14px;
	line-height:18px;
	display:none;
}
	.question p {
		margin-top:0px;
		margin-bottom:0px;
	}
	.question h3 {
		background-color:transparent;
		color:#155F9C;
		text-align:center;
		font-size:22px;
		line-height:26px;
	}
	.question h4 {
		background-color:transparent;
		color:#155F9C;
		font-size:22px;
		line-height:26px;
		font-weight:normal;
		text-align:center;
		width:100%;
		height:35px;
	}
	.question .horse-stats {
		float:left;
		padding-top:15px;
		width:285px;
	}
	.question img {
		float:right;
	}

.info-block {
	float:left;
	margin-top:5px;
	display:none;
}
.info-block img {
	float:left;
	margin-top:40px;
	margin-right:10px;
	margin-left:35px;
}
.info-block p {
	background:rgba(0,0,0,.7);
	width:261px;
	float:left;
	color:#fff;
	font-size:16px;
	line-height:22px;
	padding:15px;
	height:90px;
}

.correct-answer {
	float:right;
	background-image:url(../images/stud-to-sale/corrent-answer-bg.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:439px;
	height:200px;
	padding-top:30px;
	padding-left:15px;
	padding-right:15px;
	margin-right:25px;
	color:#fff;
	display:none;
}
	.correct-answer p {
		font-size:16px;
		line-height:18px;
	}
	.correct-answer .continue-button, .correct-answer .closer {
		font-size:20px;
		height:28px;
		line-height:28px;
		display:block;
		color:#fff;
		border:1px solid #FFF;
		width:128px;
		text-align:center;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		margin:0 auto;
	}
	
.question-image-stud {
	-webkit-border-radius: 100p%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*	5.	Race Preparation Page Styles
/*-----------------------------------------------------------------------------------*/
.race-preparation-body {
	background-image:url(../images/race-preparation/stakes-day-atmosphere.jpg);
}
.race-prep-answer {
	height:90px;
	width:112px;
	display:block;
	background-repeat:no-repeat;
	background-position:left center;
	color:#155F9C;
	width:215px;
	text-align:right;
	padding-top:15px;
	margin-top:20px;
	cursor:grab;
	z-index:999;
}
	.race-prep-answer.trainer {
		background-image:url(../images/race-preparation/trainer.jpg);
		margin-top:103px;
	}
		.race-prep-answer.trainer a {
			border-top:1px solid #155F9C;
			padding-left:75px;
			cursor:grab;
		}
	.race-prep-answer.handicapper {
		background-image:url(../images/race-preparation/handicapper.jpg);
	}
		.race-prep-answer.handicapper a {
			border-top:1px solid #155F9C;
			padding-left:31px;
			cursor:grab;
		}
	.race-prep-answer.jockey {
		background-image:url(../images/race-preparation/jockey.jpg);
	}
		.race-prep-answer.jockey a {
			border-top:1px solid #155F9C;
			padding-left:75px;
			cursor:grab;
		}
		
.race-prep-questions {
	background-image:url(../images/race-preparation/calendar.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	width:600px;
	height:418px;
	float:right;
	position:relative;
	font-size:12px;
	line-height:14px;
	color:#fff;
}
	.race-prep-questions p {
		padding-top:10px;
		padding-left:15px;
		padding-right:15px;
	}
		.race-prep-questions p span {
			width:50px;
			border-bottom:1px solid #FFF;
			display:inline-block;
			text-align:center;
		}
		.race-prep-questions p span strong {
			display:none;
		}
.race-prep-question {
	background-image:url(../images/race-preparation/clip-board.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:170px;
	height:170px;
	position:absolute;
	z-index:99;
}
.race-prep-question-1 {
	top:95px;
	left:21px;
}
.race-prep-question-2 {
	top:236px;
	left:11px;
}
.race-prep-question-3 {
	left:170px;
	top:175px;
}
	.race-prep-question-2 p span {
		width:80px;
	}
	
.race-prep-info {
	background-image:url(../images/race-preparation/clip-board-info.png);
	background-position:center center;
	background-repeat:no-repeat;
	width:160px;
	height:160px;
	display:block;
	position:absolute;
	top:100px;
	left:430px;
}
	
.instructions.instructions-race-prep-activity, .instructions.instructions-race-prep-final {
	left:0px;
	height:124px !important;
	z-index:999;
	width:275px !important;
	top:176px !important;
	-webkit-border-top-left-radius:0px !important;
	-moz-border-radius-topleft:0px !important;
	border-top-left-radius:0px !important;		
	-webkit-border-top-right-radius: 30px !important;
	-moz-border-radius-topright: 30px !important;
	border-top-right-radius: 30px !important;
	display:block;
}
	.instructions.instructions-race-prep-final {
		width:336px !important;
		height:370px !important;
		display:none;
	}
	.instructions.instructions-race-prep-activity h3, .instructions.instructions-race-prep-final h3 {
		-webkit-border-top-left-radius:0px !important;
		-moz-border-radius-topleft:0px !important;
		border-top-left-radius:0px !important;		
		-webkit-border-top-right-radius: 30px !important;
		-moz-border-radius-topright: 30px !important;
		border-top-right-radius: 30px !important;
	}
	.instructions.instructions-race-prep-activity p {
		width:235px !important;
	}
	.instructions.instructions-race-prep-final p {
		width:295px !important;
	}
	
.race-prep-feedback-trainer	{
	background-image:url(../images/stud-to-sale/corrent-answer-bg.png);
	background-repeat:no-repeat;
	background-position:center top;
	width:250px;
	height:180px;
	position:absolute;
	top:206px;
	left:350px;
	font-size:16px;
	line-height:18px;
	padding-left:15px;
	padding-right:15px;
	padding-top:30px;
	z-index:999;
	display:none;
}
/*-----------------------------------------------------------------------------------*/
/*	6.	Raceday Page Styles
/*-----------------------------------------------------------------------------------*/
.stud-to-sale.raceday {
	background-image:url(../images/raceday/horse-transport.jpg);
}
.raceday .instructions-raceday-activity, .raceday .instructions-raceday-final {
	height:190px !important;
	min-height:190px !important;
	z-index:99;
	right:0px !important;
	left:auto;
	-webkit-border-top-right-radius:0px !important;
	-moz-border-radius-topright:0px !important;
	border-top-right-radius:0px !important;		
	-webkit-border-top-left-radius: 30px !important;
	-moz-border-radius-topleft: 30px !important;
	border-top-left-radius: 30px !important;
	display:block;
}
	.raceday .instructions-raceday-final {
		background:rgba(236, 58, 148, 0.6);
		display:none;
		height:230px !important;
	}
	.raceday .instructions-raceday-activity img {
		margin:0 auto !important;
		display:block;
		float:none;
	}
	.raceday .instructions-raceday-activity h3, .raceday .instructions-raceday-final h3 {
		-webkit-border-top-right-radius:0px !important;
		-moz-border-radius-topright:0px !important;
		border-top-right-radius:0px !important;		
		-webkit-border-top-left-radius: 30px !important;
		-moz-border-radius-topleft: 30px !important;
		border-top-left-radius: 30px !important;
	}
		.raceday .instructions-raceday-final h3 {
			background-color:#ec3a94;
		}

.raceday .answers {
	float:none;
	width:100%;
	margin-top:0px;
	min-height:120px;
}
.raceday-answer {
	height:90px;
	text-align:center;
	vertical-align:middle;
	display:none;
}
	.raceday-answer img {
		float:left;
	}
	.raceday-answer p {
		vertical-align:middle;
		float:left;
		background-color:#E9E8E8;
		padding:10px;
		margin-left:10px;
		margin-top:20px;
		width:350px;
		text-align:left;
		margin-top:0px;
		margin-bottom:0px;
	}
.raceday-questions {
	background-color:#E9E8E8;
	float:none;
	padding:40px;
	padding-top:20px;
	padding-bottom:20px;
	width:800px;
	height:185px;
}
.raceday-question {
	position:relative;
	float:left;
}

.outer-circle {
	background-color:#000;
	float:left;
	border-radius: 100%;
	padding:10px;
	margin-left:-10px;
	margin-right:-10px;
	background-color:transparent;
}
	.outer-circle.active, .outer-circle.active-all {
		background: -webkit-linear-gradient(left, rgba(68, 155, 176, .8), rgba(68, 129, 176, 0.9)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, rgba(68, 155, 176, 0.8), rgba(68, 129, 176, 0.9)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, rgba(68, 155, 176, 0.8), rgba(68, 129, 176, 0.9)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, rgba(68, 155, 176, 0.8), rgba(68, 129, 176, 0.9)); /* Standard syntax (must be last) */
	}
.circle {
	background-color:#FFF;
	border:3px solid #155F9C;
	height:25px;
	width:25px;
	border-radius: 100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	float:left;
	opacity:1;
	cursor:pointer;
}
	.raceday-question p {
		/* Safari */
		-webkit-transform: rotate(-60deg);
		/* Firefox */
		-moz-transform: rotate(-60deg);
		/* IE */
		-ms-transform: rotate(-60deg);
		/* Opera */
		-o-transform: rotate(-60deg);
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		position:absolute;
		left:-106px;
		top:100px;
		width:158px;
		text-align:right;
	}
.line {
	width:38px;
	height:30px;
	line-height:30px;
	float:left;
	padding-top:24px;
}
	.line hr {
		border:1px solid #155F9C;
	}

.dashed-indicator {
	text-align:center;
	float:left;
	margin-top:45px;
}
	.dashed-indicator p {
		font-size:14px;
		color:#155F9C;
	}
.dashed-line {
	border:#155f9c 1px dashed;
	border-bottom:0px;
	height:20px;
	width:100%;
}
.highlighted .outer-circle.high-active {
	background-color:rgba(236, 58, 148, 0.8);
}
.highlighted .circle {
	border-color:#EC3A94;
}
.highlighted .line hr {
	border-color:#EC3A94;
}

.correct-answer-img, .wrong-answer-img {
	display:none;
}

.feedback {
		background: -webkit-linear-gradient(left, #449BB0, #4481B0); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #449BB0, #4481B0); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #449BB0, #4481B0); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #449BB0, #4481B0); /* Standard syntax (must be last) */
		width:200px;
		position:absolute;
		top:-216px;
		left:-70px;
		padding:10px;
		font-size:14px;
		line-height:18px;
		color:#FFF;
		z-index:999;
		display:none;
}
	.feedback span {
		text-align:left;
	}
	.feedback img {
		margin:0 auto;
		margin-top:20px;
		display:block;
	}
	.feedback .close {
		background-image:url(../images/raceday/close-button.png);
		background-repeat:no-repeat;
		background-position:center center;
		height:30px;
		width:30px;
		text-indent:-1000px;
		overflow:hidden;
		display:block;
		position:absolute;
		top:-15px;
		right:-15px;
	}
/*-----------------------------------------------------------------------------------*/
/*	6.	Training at Flemington Page Styles
/*-----------------------------------------------------------------------------------*/
.training-at-flemington {
	background-image:url(../images/training-at-flemington/horse-cantering.jpg);
}
	.training-at-flemington.whats-involved {
		background-image:url(../images/training-at-flemington/trainers-observing-trackwork-from-trainers-tower.jpg);
	}
	.training-at-flemington .page-description {
		width:900px;
	}
	.training-at-flemington a.activity-link {
		float:left;
		background-image:url(../images/training-at-flemington/button.png);
		background-position:50px 30px;
		background-repeat:no-repeat;
		border:1px solid #fff;
		color:#155F9C;
		font-size:18px;
		line-height:22px;
		width:210px;
		padding:40px;
		padding-bottom:20px;
		padding-top:240px;p
		height:80px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		-webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
		-moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
		box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
		text-align:center;
		margin-left:192px;
		margin-top:100px;
		font-weight:bold;
	}
	.training-at-flemington .answers {
		float:left;
		width:auto;
	}
	.training-at-flemington .answer {
		display:none;
		margin-top:0px;
	}
	.training-at-flemington .answers a {
		background: -webkit-linear-gradient(left, #449BB0, #4481B0); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #449BB0, #4481B0); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #449BB0, #4481B0); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #449BB0, #4481B0); /* Standard syntax (must be last) */
		width:auto;
		min-width:300px;
		display:block;
		text-align:center;
		height:40px;
		line-height:40px;
		color:#fff;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		margin-top:20px;
		padding-left:5px;
		padding-right:5px;
		cursor:grab;
	}
		.training-at-flemington .answers a.inactive {
			opacity:0.5;
			cursor:default;
		}
	.training-at-flemington .questions {
		float:left;
	}
	.training-at-flemington .training-day-question {
		width:300px;
		height:auto;
		margin-top:10px;
		display:none;
	}
		.training-at-flemington .training-day-question a {
			color:#ec3a94;
			font-size:12px;
			line-height:24px;
			height:24px;
			display:block;
			text-align:center;
			font-style:italic;
		}
		.training-day-question .training-day-question-holder {
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			-webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
			-moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
			box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
			padding:20px;
		}
		.training-at-flemington .training-day-question p {
			color:#EC3A94;
			font-size:16px;
		}
		.training-at-flemington .training-day-question .answer-holder {
			background-color:transparent;
			border:1px #449bb0 dashed;
			width:170px;
			display:block;
			text-align:center;
			height:40px;
			line-height:40px;
			color:#fff;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			margin:0 auto;
			text-indent:-1000px;
			overflow:hidden;
			margin-bottom:10px;
		}
			.training-at-flemington .training-day-question .answer-holder.activated {
				border:none;
				background: -webkit-linear-gradient(left, #449BB0, #4481B0); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(right, #449BB0, #4481B0); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(right, #449BB0, #4481B0); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to right, #449BB0, #4481B0); /* Standard syntax (must be last) */
				width:auto;
				text-indent:0px;
			}

.training-at-flemington	.feedback-image {
	float:left;
}
	.training-at-flemington	.feedback-image img {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		display:none;
	}
		.training-at-flemington	.feedback-image img.training-at-flemington-feedback-image-1 {
			display:block;
		}
.training-at-flemington	.feedback-text {
	background-image:url(../images/training-at-flemington/feeedback.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	width:465px;
	height:280px;
	float:left;
	padding:10px;
	padding-left:30px;
	padding-right:30px;
	position:relative;
	display:none;
	margin-top:-150px;
}
	.training-at-flemington	.feedback-text p {
		color:#FFF;
		font-size:14px;
		line-height:18px;
	}
	.training-at-flemington	.feedback-text .continue-button {
		border: 1px solid #fff;
		border-radius: 30px;
		color: #fff;
		display: block;
		font-size: 20px;
		height: 28px;
		line-height: 28px;
		margin: 0 auto;
		text-align: center;
		width: 128px;
	}
	.training-at-flemington	.feedback-text .answer-top {
		background-repeat:no-repeat;
		background-position:center center;
		width:25px;
		height:25px;
		position:absolute;
		top:-10px;
		right:-10px;
	}
	.training-at-flemington	.feedback-text .answer-top.correct-answer-top {
		background-image:url(../images/training-at-flemington/correct-answer.png);
	}
	.training-at-flemington	.feedback-text .answer-top.wrong-answer-top {
		background-image:url(../images/training-at-flemington/wrong-answer.png);
	}
	
.marking {
	float:right;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
	box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
	width:auto;
	height:auto;
	padding:20px;
	margin-top:22px;
}
	.marking .circle {
		margin-top:8px;
		margin-bottom:8px;
		margin-left:8px;
		margin-right:8px;
		border:1px solid #A1C7D7;
	}
	.marking .circle p {
		text-align:center;
		color:#DDDDDD;
		font-size:12px;
		line-height:25px;
		margin-top:0px;
		margin-bottom:0px;
	}
	.marking h5 {
		font-size:14px;
		color:#ec3a94;
		font-weight:normal;
	}
	
	.training-at-flemington .instructions-raceday-final {
		height:245px !important;
	}
/*-----------------------------------------------------------------------------------*/
/*	6.	Typical Training Day Page Styles
/*-----------------------------------------------------------------------------------*/
.stud-to-sale.raceday.typical-training-day {
	background-image:url(../images/training-at-flemington/jockey-debrief-with-trainer.jpg);
}
.typical-training-day.questions {
	background-image:url(../images/typical-training-day/clock.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:564px;
	height:311px;
	float:right;
	position:relative;
}
	.typical-training-day.questions a {
		display:block;
		position:absolute;
		background-color:transparent;
		border:1px #449bb0 dashed;
		width:170px;
		display:block;
		text-align:center;
		height:40px;
		line-height:40px;
		color:#449bb0;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		margin:0 auto;
		margin-bottom:10px;
	}
		.typical-training-day.questions a.activated {
			background-color:#449bb0;
			color:#fff;
			border:0px;
			background: -webkit-linear-gradient(left, #449BB0, #4481B0); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(right, #449BB0, #4481B0); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(right, #449BB0, #4481B0); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to right, #449BB0, #4481B0); /* Standard syntax (must be last) */
		}
		.typical-training-day.questions a.three-thirty-am {
			right:-39px;
			top:31px;
		}
		.typical-training-day.questions a.four-am {
			right:-49px;
			top:98px;
		}
		.typical-training-day.questions a.four-fifteen-am {
			right:-49px;
			top:210px;
		}
		.typical-training-day.questions a.six-am {
			right:3px;
			top:272px;
		}
		.typical-training-day.questions a.seven-thirty-am {
			left:150px;
			top:325px;
			width:270px;
		}
		.typical-training-day.questions a.two-thirty-pm {
			left:0px;
			top:272px;
		}
		.typical-training-day.questions a.four-pm {
			left:-40px;
			top:210px;
		}

	.typical-training-day .answer {
		background: -webkit-linear-gradient(left, #449BB0, #4481B0); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #449BB0, #4481B0); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #449BB0, #4481B0); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #449BB0, #4481B0); /* Standard syntax (must be last) */
		width:300px;
		min-width:300px;
		display:none;
		text-align:center;
		height:40px;
		line-height:40px;
		color:#fff;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		margin-top:20px;
		padding-left:5px;
		padding-right:5px;
		cursor:grab;
		position:relative;
		z-index:999;
	}
	.typical-training-day .feedback {
		display:block;
		color:#fff;
		width:250px;
		height:auto;
		position:relative;
		left:-30px;
		top:auto;
		margin-top:20px;
		padding:20px;
		display:none;
	}
	.typical-training-day .correct-answer-img {
		position:absolute;
		top:-35px;
		right:-15px;
	}
	.typical-training-day .wrong-answer-img {
		position:absolute;
		top:-35px;
		right:-15px;
	}
	.typical-training-day .feedback {
		float:left;
	}
	.typical-training-day .feedback .continue-button {
		border: 1px solid #fff;
		border-radius: 30px;
		color: #fff;
		display: block;
		font-size: 20px;
		height: 28px;
		line-height: 28px;
		margin: 0 auto;
		text-align: center;
		width: 128px;
		margin-top:20px;
		float:right;
	}
/*-----------------------------------------------------------------------------------*/
/*	6.	After The Race Page Styles
/*-----------------------------------------------------------------------------------*/	
.stud-to-sale.after-the-race {
	background-image:url(../images/after-the-race/oaks-atmosphere.jpg);
}

.after-the-race .questions {
	float:left;
	width:440px;
}

.after-the-race .activity .arrows {
	margin-top:55px;
}

.after-the-race .question {
	color:#000;
	display:none;
	background-image:none;
	background-color:#FFF;
	text-align:center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:20px;
	height:240px;
}
	.after-the-race .question .image {
		margin-top:40px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		width:220px;
		overflow:hidden;
	}

.after-the-race .questions .answer-area {
	margin-top:40px;
	width:124px;
	height:124px;
	float:left;
	border:1px #EC3A94 dashed;
	float:right;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	text-indent:-1000px;
	overflow:hidden;
}

.after-the-race .answer {
	display:table;
	margin-top:0px;
	border:5px solid #F2BBCF;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	overflow:hidden;
	cursor:grab;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	position:relative;
}

.after-the-race .answer .question-mark {
	position:absolute;
	top:90px;
	right:0px;
	background-image:url(../images/after-the-race/question-mark.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:rgba(34, 109, 160, 1);
	height:42px;
	width:42px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	cursor:pointer;
	transition:0.2s linear all;
	border:1px solid #226DA0;
}
	.after-the-race .answer .question-mark:hover {
		background-image:url(../images/after-the-race/question-mark-hover.png);
		background-color:#FFF;
	}

.after-the-race .inner-answer {
	display:table-cell;
	background-color:#EC3A94;
	height:124px;
	width:124px;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.after-the-race .answer-area.activated {
	background-color:#EC3A94;
	width:124px;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	font-size:18px;
	line-height:24px;
	border:0px;
	text-indent:0px;
	padding-top:36px;
	height:88px;
}

.after-the-race .after-the-race-feedback {
	background-image:url(../images/race-preparation/corrent-answer-bg.png);
	background-position:center top;
	background-repeat:no-repeat;
	width:200px;
	height:auto;
	padding:15px;
	padding-top:20px;
	left:-7px;
	top:125px;
	position:absolute;
	color:#FFF;
	font-size:14px;
	z-index:999;
	line-height:20px !important;
	display:none;
}
/*-----------------------------------------------------------------------------------*/
/*	6.	Winners Circle Page Styles
/*-----------------------------------------------------------------------------------*/
.winners-circle {
	background-image:url(../images/winners-circle/flemington-arch.jpg);
}
	
.answers-winners-circle {
	min-width:850px;
	min-height:279px;
	margin-top:50px;
}

.answer-winners-circle {
	background-image:url(../images/winners-circle/bubble.png);
	background-repeat:no-repeat;
	width:216px;
	height:88px;
	position:absolute;
	z-index:999;
}
	.answer-winners-circle .circle {
		float:right;
		margin-right:20px;
		margin-top:37px;
	}
		.answer-winners-circle  p {
			width:165px;
			float:left;
			line-height:88px;
			text-align:center;
		}
.question-winners-circle {
	display:none;
}
.question-winners-circle img {
	float:left;
	position:relative;
	z-index:9999;
}
	.question-winners-circle p {
		float:left;
		line-height:89px;
		padding-left:20px;
		margin-top:0px;
	}
	
.winners-circle .feedback {
	top:330px;
	z-index:9999;
	display:none;
	right:50px;
	left:auto;
}
/*-----------------------------------------------------------------------------------*/
/*	6.	Help Screen Page Styles
/*-----------------------------------------------------------------------------------*/
.help-popup {
	height:880px !important;
}
.help-popup .content {
	padding:20px;
}
.help-popup .content .row {
	margin-top:20px;
}
.help-popup .content .image {
	float:left;
	width:36%;
	text-align:center;
}
.help-popup .content p {
	float:left;
	width:64%;
}
/*-----------------------------------------------------------------------------------*/
/*	7.	Glossary Screen Page Styles
/*-----------------------------------------------------------------------------------*/	
.glossary-popup {
	height:1680px !important;
}
#glossary-table {
	font-size:14px;
	line-height:18px;
}
	#glossary-table th {
		background:rgba(0, 0, 0, 0) linear-gradient(to right, #449bb0, #4481b0) repeat scroll 0 0;
		color:#fff;
		line-height:24px;
	}
	#glossary-table tr {
		background-color:#E9EFF7;
	}
	#glossary-table tr:nth-of-type(even) {
		background-color:#D0DEEF;
	}
	#glossary-table td {
		padding-left:5px;
		padding-right:5px;
		padding-top:3px;
		padding-bottom:3px;
	}
	
/*-----------------------------------------------------------------------------------*/
/*	6.	Media Queries
/*-----------------------------------------------------------------------------------*/	
@media (max-width: 1024px) {
	.wrap {
		width:950px;
		position:relative;
		margin:0 auto;
		padding-left:20px;
		padding-right:20px;
	}
	nav {
		margin-top:0px;
	}
	.overlay-bg {
		width:1024px;
	}
	.menu-row-single {
		width:375px;
	}
	.overlay-content {
		left:37%;
	}
	.stud-to-sale .page-description {
		width:558px;
	}
	.fix {
		width:100% !important;
	}
	#additional-width {
		width:100%;
	}
	.training-at-flemington a.activity-link {
		margin-left:172px;
	}
	.race-preparation-page-description {
		width:611px;
	}
}