
<div class="CustomerExperiences__contentContainer">
  <div class="CustomerExperiences__title ContentPanel__title">Customer experiences</div>
  <div class="CustomerExperiences__intro">
    <p>Customer satisfaction is a key driver for <span class="nbnMention">nbn</span> and our Construction Partners.</p>
    <p>Whatever your role, what you say and do reflects on the <span class="nbnMention">nbn</span>™ brand and how customers and members of the community view our brand.</p>
    <p class="CustomerExperiences__instruction">Click the elements of the equation below:</p>
  </div>

  <div class="CustomerExperiences__eq">
    <div class="CustomerExperiences__eqSide CustomerExperiences__eqLHS" data-key="lhs">
      <div class="CustomerExperiences__eqSideEqElementsContainer">
        <div class="CustomerExperiences__eqElement CustomerExperiences__eqElement_say">
          <div class="CustomerExperiences__eqElement__label">
            Say it correctly
          </div>
        </div>
        <div class="CustomerExperiences__eqSymbol CustomerExperiences__eqSymbol_plus">
          <div>+</div>
        </div>
        <div class="CustomerExperiences__eqElement CustomerExperiences__eqElement_do">
          <div class="CustomerExperiences__eqElement__label">
            Do it correctly
          </div>
        </div>
      </div>
      <div class="CustomerExperiences__feedbackItem CustomerExperiences__feedbackItem_LHS" data-key="lhs">
        <div class="CustomerExperiences__feedbackItemContent">
          Treat our customers and members of the community in the same way that you would expect to be treated by a brand that you deal with.
        </div>
      </div>
    </div>

    <div class="CustomerExperiences__eqSymbol CustomerExperiences__eqSymbol_equals">
      <div>=</div>
    </div>

    <div class="CustomerExperiences__eqSide CustomerExperiences__eqRHS" data-key="rhs">
      <div class="CustomerExperiences__eqSideEqElementsContainer">
        <div class="CustomerExperiences__eqElement CustomerExperiences__eqElement_result">
          <div class="CustomerExperiences__eqElement__label">
            Positive brand experience
          </div>
        </div>
      </div>
      <div class="CustomerExperiences__feedbackItem CustomerExperiences__feedbackItem_RHS" data-key="rhs">
        <div class="CustomerExperiences__feedbackItemContent">
          Positive customer experiences mean positive brand experiences.
        </div>
      </div>
    </div>
  </div>
</div>
