<div class="VehicleBrandingSignageMobile__title ContentPanel__title">
  Vehicle branding and signage
</div>
<div class="VehicleBrandingSignageMobile__question">
  <p>We expect a minimum of two signs to be displayed at every construction site. All vehicles and construction machinery operating on or around the site should display the ‘Construction partner of’ signage.</p>
  <p><strong>Tap each sign in the scene below.</strong></p>
</div>

<div class="VehicleBrandingSignageMobile__scene">
  <% each(clickables, function(clickable) { %>
  <div
    class="VehicleBrandingSignageMobile__clickable"
    data-key="<%= clickable.key %>">
  </div>
  <% }) %>
</div>
<div class="VehicleBrandingSignageMobile__infoPanel">
  <div class="VehicleBrandingSignageMobile__infoPanelContent">
    <div class="VehicleBrandingSignageMobile__infoPanel__title"></div>
    <div class="VehicleBrandingSignageMobile__infoPanel__figure"></div>
    <div class="VehicleBrandingSignageMobile__infoPanel__description"></div>
    <div class="VehicleBrandingSignageMobile__infoPanel__closeContainer">
      <div class="VehicleBrandingSignageMobile__infoPanel__close">
        &times;
      </div>
    </div>
  </div>
</div>
