<div class="OurRole__content">
  <div class="flexContentWrapper">
    <h1 class="ContentPanel__title OurRole__title">Our role as a wholesaler</h1>
    <h2 class="ContentPanel__subTitle OurRole__subTitle">
      <span class="nbnMention">nbn</span> is a wholesale-only broadband company.
    </h2>
    <div class="OurRole__serviceScope">
      <p>This means <span class="nbnMention">nbn</span>:</p>
      <ul>
        <li>does not sell directly to the public</li>
        <li>provides its services to landline phone companies and internet service providers who offer plans for homes and businesses.</li>
      </ul>
    </div>
    <p class="OurRole__message">Even though we are a wholesale-only company, it is still important for you to represent <span class="nbnMention">nbn</span> in a positive way to members of the community and the general public.</p>
  </div>
</div>
