@import './vars';
@import './mixins';

.ContentPanel {
  coverScreen();
  padding-top: (mastheadHeight * 1.3);
  position: relative;

  p, ul, li {
    margin-bottom: 0.6em;
  }

  li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1.2em;
  }

  @media (min-width: breakpointMobile + 1) {
    hideScrollbars();
  }
}

.ContentPanel_padded {
  padding-left: pageVGutter * 0.6;
  padding-right: pageVGutter * 0.6;
  padding-bottom: mastheadHeight;
}

.ContentPanel_hidden {
  display: none;
}

.ContentPanel_hasAurora {
  backgroundCenter(url(@import '~images/aurora.png'));
  background-size: auto 40%;
  background-position: left bottom;
}

.ContentPanel__contentContainer {
  clearfix();
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.ContentPanel__title,
.ContentPanel__subTitle {
  .nbnMention {
    fontDisplay(700);
  }
}

.ContentPanel__title {
  fontDisplay(700);
  font-size: 2rem;
  line-height: 1.1;
  color: colBlueDeep;
  margin: 0 auto 0.4em;
}

.ContentPanel__subTitle {
  fontDisplay(400);
  font-size: 1.2rem;
  margin-bottom: 0.6em;
}

@media (max-width: breakpointTablet) {
  .ContentPanel {
    padding-top: mastheadHeightMobile;
    height: auto;
    min-height: 100vh;
  }

  .ContentPanel_padded {
    padding-bottom: mastheadHeightMobile;
    padding-left: pageVGutter * 0.4;
    padding-right: pageVGutter * 0.4;
  }
}

@media (max-width: breakpointMobile) {
  .ContentPanel_hasAurora {
    background-image: url(@import '~images/auroraLight.png');
  }

  .ContentPanel__title {
    margin-top: 0.4em;
    font-size: 1.6em;
  }

  .ContentPanel__subTitle {
    font-size: 1.2em;
  }
}

