@font-face {
  font-family:'GothamRounded';
  src: url(@import '~fonts/GothamRounded-Book.eot');
  src: url(@import '~fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
    url(@import '~fonts/GothamRounded-Book.woff') format('woff'),
    url(@import '~fonts/GothamRounded-Book.ttf') format('truetype'),
    url(@import '~fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family:'GothamRounded';
  src: url(@import '~fonts/GothamRounded-Medium.eot');
  src: url(@import '~fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
    url(@import '~fonts/GothamRounded-Medium.woff') format('woff'),
    url(@import '~fonts/GothamRounded-Medium.ttf') format('truetype'),
    url(@import '~fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family:'GothamRounded';
  src: url(@import '~fonts/GothamRounded-Bold.eot');
  src: url(@import '~fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
    url(@import '~fonts/GothamRounded-Bold.woff') format('woff'),
    url(@import '~fonts/GothamRounded-Bold.ttf') format('truetype'),
    url(@import '~fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
