@import '~styles/vars.styl';

hideScrollbars() {
  &::-webkit-scrollbar { display: none; }
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}


backgroundCenter(imageURL = false) {
  background-repeat: no-repeat;
  background-position: center center;
  if (imageURL) {
    background-image: imageURL;
  }
}

backgroundContain(imageURL = false) {
  background-size: contain;
  backgroundCenter(imageURL);
}

backgroundCover(imageURL = false) {
  background-size: cover;
  backgroundCenter(imageURL);
}

flexCenter(direction = row) {
  display: flex;
  flex-direction: direction;
  justify-content: center;
  align-items: center;
}

size(width, height = false) {
  if height {
    width: width;
    height: height;
  } else {
    width: width;
    height: width;
  }
}

minSize(width, height = false) {
  if height {
    min-width: width;
    min-height: height;
  } else {
    min-width: width;
    min-height: width;
  }
}

maxSize(width, height = false) {
  if height {
    max-width: width;
    max-height: height;
  } else {
    max-width: width;
    max-height: width;
  }
}

positions(top = auto, right = auto, bottom = auto, left = auto) {
  top: top;
  right: right;
  bottom: bottom;
  left: left;
}

positionAbs(top = auto, right = auto, bottom = auto, left = auto) {
  position: absolute;
  positions(top, right, bottom, left);
}

positionRel(top = auto, right = auto, bottom = auto, left = auto) {
  position: relative;
  positions(top, right, bottom, left);
}

positionFixed(top = auto, right = auto, bottom = auto, left = auto) {
  position: fixed;
  positions(top, right, bottom, left);
}

disc(diameter) {
  size(diameter);
  line-height: diameter;
  border-radius: 50%;
  text-align: center;
}

arrowUp(color = black, thickness = 5px) {
  size(0);
  border-left: thickness solid transparent;
  border-right: thickness solid transparent;
  border-bottom: thickness solid color;
}

arrowLeft(color = black, thickness = 5px) {
  size(0);
  border-top: thickness solid transparent;
  border-bottom: thickness solid transparent;
  border-right: thickness solid color;
}

arrowDown(color = black, thickness = 5px) {
  size(0);
  border-left: thickness solid transparent;
  border-right: thickness solid transparent;
  border-top: thickness solid color;
}

checklist() {
  list-style: none;
  list-style-position: outside;
  margin-bottom: 0;

  li {
    list-style-type: none;
    padding-left: 1.4em;
    position: relative;
    margin-left: 0;

    &:before {
      content: '✔';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

fontDisplay(weight = 700) {
  font-family: 'GothamRounded';
  font-weight: weight;
  line-height: 1.4;
}

shadowText() {
  text-shadow: 0 0 4px rgba(black, 0.4);
}

coverScreen() {
  display: block;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

pillButton(width = 10em) {
  font-weight: 400;
  transition: all 0.2s ease-out;
  padding: 0.6em 0;
  width: width;
  font-size: 1.06rem;
  color: colBlueDeep;
  background-color: rgba(colGreyPale, 0.8);
  display: block;
  text-align: center;
  border-radius: 2em;

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      background-color: colGreyPale;
      box-shadow: 0 2px 2px rgba(black, 0.4);
      transform: translateY(-2px);
    }

    &:active {
      transition: none;
      box-shadow: none;
      transform: translateY(2px);
    }
  }

  &.disabled {
    opacity: 0.4;
  }
}

continueButton(width = 10em) {
  pillButton(width = width);
  text-indent: -2em;
  background-image: url(@import '~images/arrowheadRightOrange.png');
  background-repeat: no-repeat;
  background-position: 80% center;
  background-size: auto 42%;
}

scrollDownButtonStatic(width = 10em) {
  pillButton(width = width);
  transform: translateZ(0);
  backface-visibility: hidden;
  width: width;
  position: absolute;
  left: 50%;
  margin-left: -0.5 * width;
  bottom: 3rem;

  &:after {
    display: block;
    content: ' ';
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 3rem;
    background: url(@import '~images/arrowDownOrange.png') no-repeat;
    background-position: center;
    background-size: auto 60%;
  }
}

scrollDownButton(width = 10em, mobileWidth = 3.4rem) {
  scrollDownButtonStatic(width = width);

  // @media (max-width: breakpointMobile) {
    size(mobileWidth);
    border: 1px solid rgba(colGreyPale, 0.2);
    background-color: rgba(colGreyPale, 0.4);
    border-radius: 50%;
    left: auto;
    bottom: 5vh;
    right: 5vw;
    overflow: hidden;
    text-indent: -999px;

    &:not(.disabled):hover {
      border: 1px solid rgba(colGreyPale, 0);
    }

    &:after {
      positionAbs(1px, 1px, 1px, 1px);
      size(auto, auto);
      backgroundCenter(url(@import '~images/arrowDownOrange.png'));
      background-size: auto 52%;
    }
  // }
}

scrollDownButtonBlue(width = 3.4rem) {
  size(width);
  positionAbs(auto, 5vw, 5vw, auto);
  font-weight: 400;
  transition: all 0.2s ease-out;
  color: transparent;
  background-color: colBlue;
  display: block;
  text-align: center;
  // border: 1px solid rgba(black, 0.06);
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(black, 0.5);
  text-indent: -9999px;
  overflow: hidden;

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      // border: 1px solid rgba(black, 0);
      box-shadow: 0 2px 1px rgba(black, 0.4);
      transform: translateY(-2px);
    }

    &:active {
      transition: none;
      box-shadow: none;
      transform: translateY(2px);
    }
  }

  &:after {
    positionAbs(1px, 1px, 1px, 1px);
    size(auto, auto);
    backgroundCenter(url(@import '~images/arrowDownOrange.png'));
    content: ' ';
    background-size: auto 52%;
  }
}

scrollDownButtonFullBlueDisc(width = 10em) {
  scrollDownButtonStatic(width);
  bottom: 4.4rem;

  &:after {
    scrollDownButtonBlue(3.4rem);
    positionAbs(calc(100% + 0.5rem), auto, auto, 50%);
    content: ' ';
    margin-left: -1.7rem;
  }

  &:not(.disabled) {
    &:hover {
      transform: none;
      box-shadow: none;

      &:after {
        box-shadow: 0 2px 1px rgba(black, 0.4);
        transform: translateY(-2px);
      }
    }

    &:active:after {
      transition: none;
      box-shadow: none;
      transform: translateY(2px);
    }
  }
}

hollowPillButton() {
  transition: all 0.2s ease-out;
  border: 2px solid white;
  text-align: center;
  margin: 0 auto;
  padding: 0.4rem;
  border-radius: 1.4rem;
  width: 80%;
  max-width: 6rem;
  min-width: 4rem;
  color: white;
  transform: scale(1);
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    color: blue;
    background-color: white;
    box-shadow: 0 2px 0 rgba(black, 0.2);
  }

  &:active {
    transition: none;
    transform: translateY(0);
    box-shadow: none;
  }
}

videoLink() {
  cursor: pointer;
  font-weight: 700;
  padding-left: 1.8em;
  position: relative;

  &:before {
    disc(1.4em);
    backgroundContain();
    transition: all 0.4s ease-out;
    background-color: rgba(white, 0.8);
    background-image: url(@import '~images/arrowheadFilledRightBlue.png');
    background-position: 55% center;
    background-size: auto 60%;
    content: ' ';
    box-shadow: 0 0 2px rgba(black, 0.4);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.7em;
  }

  &:hover {
    &:before {
      background-color: rgba(white, 1);
    }
  }
}
