colBody = #212121;
colBlueDeep = #1c4387;
colGreyPale = #f2f2f2;
colBlue = #009fe3;
colGreen = #a0c600;
colOrange = #fec74f;
colRed = #fe3636;

pageVGutter = 12vmin;
mastheadHeight = 4rem;
mastheadHeightMobile = 3rem;

bpbp = 736px;
// breakpointTablet = 768px;
// breakpointMobile = 560px;
breakpointMobile = breakpointTablet = bpbp;

easeOutBack = cubic-bezier(0.175, 0.885, 0.32, 1.275);
