@import '~styles/vars';
@import '~styles/mixins';

.Activity.Welcome {
  backgroundCover(url('./welcomeBackground.jpg'));
  background-position: left bottom;
}

.Welcome__content,
.Welcome__imageContainer {
  height: 100%;
}

.Welcome__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  float: left;
  padding-right: 1.4rem;

  // Bloody ie10
  .contentWrapper {
    width: 99%;
  }

  p {
    margin-bottom: 0.6em;
  }
}

.Welcome__imageContainer {
  backgroundContain();
  width: 40%;
  float: right;
}

@media (max-width: breakpointMobile) {
  .Welcome__content,
  .Welcome__imageContainer {
    float: none;
    clear: both;
    width: 100%;
  }

  .Welcome__content {
    height: auto;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  .Welcome__imageContainer {
    height: 42vh;
  }
}
