<div class="Welcome__content">
  <div class="flexContentWrapper">
    <h1 class="Welcome__title ContentPanel__title">Welcome!</h1>
    <h2 class="Welcome__subTitle ContentPanel__subTitle">Welcome to <span class="nbnMention">nbn</span> and your role in connecting Australia.</h2>
    <p><span class="nbnMention">nbn</span> was launched with a great vision for Australia – to bring high speed internet to all individuals, homes, schools and businesses across the country. The <span class="nbnMention">nbn</span>™ network creates a better future by giving everyone the potential to be more productive, more creative, more efficient and more connected, now and for decades to come. This course will help you to understand the purpose of the <span class="nbnMention">nbn</span>™ network and the value it delivers.</p>
    <p>It will explain the important role you’ll play in representing the <span class="nbnMention">nbn</span>™ brand.</p>
  </div>
</div>
<div class="Welcome__imageContainer"  style="background-image: url(<%= welcomeImage %>);"></div>
