@import '~styles/vars';
@import '~styles/mixins';

.SectionSummary__content {
  flexCenter(column);
  size(100%);
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;

  p {
    margin-bottom: 0.6em;
  }
}

.SectionSummary__listContainer {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  li {
    list-style-position: inside;
  }

  &:after {
    positionAbs(auto, auto, 0px, 50%);
    size(8%, 2px);
    content: ' ';
    margin-left: -4%;
    background-color: colBody;
  }
}

.SectionSummary__titleContainer {
  flexCenter(row);
  width: 100%;
  margin-bottom: 1rem;
}

.SectionSummary__tick {
  backgroundContain(url(@import '~images/tickDisc600.png'));
  size(6rem);
}

.SectionSummary__title {
  width: auto;
  margin: 0 0 0 1rem;
}

.SectionSummary__miniDashboardContainer {
  margin-bottom: 1rem;
}

.SectionSummary__continueButton {
  continueButton(10em);
  position: absolute;
  left: 50%;
  bottom: 3vh;
  margin-left: -5em;
}

@media (max-width: breakpointMobile) {
  .SectionSummary__content {
    text-align: center;
    min-height: 60vh;
  }

  .SectionSummary__title {
    text-align: left;
  }

  .SectionSummary__miniDashboardContainer {
    text-align: center;
  }
}
