<div class="SectionSummary__contentContainer ContentPanel__contentContainer">

  <div class="SectionSummary__content">
    <div class="flexContentWrapper">
      <div class="SectionSummary__titleContainer">
        <div class="SectionSummary__tick"></div>
        <div class="SectionSummary__title ContentPanel__title">
          <%= summaryTitle %>
        </div>
      </div>

      <div class="SectionSummary__miniDashboardContainer MiniDashboardContainer"></div>
      <div class="SectionSummary__summary"><%= summaryContent %></div>
    </div>
  </div>
</div>
<div class="SectionSummary__continueButton">Continue</div>
