@import '~styles/vars';
@import '~styles/mixins';

.ModuleSummary {
  backgroundCover(url('./background.jpg'));
}

.ModuleSummary__content,
.ModuleSummary__imageContainer {
  height: 100%;
}

.ModuleSummary__subheading {
  font-weight: 700;
  margin: 2rem auto 1rem;
}

.ModuleSummary__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-right: 1.4rem;
  width: 60%;
  float: left;
  font-size: 1rem;
  overflow: auto;

  ul {
    margin-left: 1.2em;
  }

  li {
    positionRel();
    list-style-type: none;
    padding-left: 1em;
    margin-left: -1em;

    &:before {
      positionAbs(0px, auto, auto, 0px);
      content: '-';
    }
  }

  a {
    fontDisplay(400);
    color: colBlueDeep;
  }
}

.ModuleSummary__imageContainer {
  backgroundContain(url('./figure.png'));
  width: 40%;
  float: right;
}

.ModuleSummary.ContentPanel_reverseContent {
  .ModuleSummary__content {
    float: right;
    padding-left: 1rem;
  }

  .ModuleSummary__imageContainer {
    float: left;
  }
}

@media (max-width: breakpointMobile) {
  .ModuleSummary__subheading {
    text-align: center;
  }

  .ModuleSummary__codeContent {
    margin-bottom: 4vh;
    padding-bottom: 4vh;
  }

  .ModuleSummary__content,
  .ModuleSummary__imageContainer {
    float: none;
    clear: both;
    width: 100%;
  }

  .ModuleSummary__content {
    height: auto;
    margin-bottom: 4vh;

    .ContentPanel__title {
      text-align: center;
    }
  }

  .ModuleSummary__imageContainer {
    height: 40vh;
    margin: 0 auto;
  }
}
