<div class="ContentPanel__contentContainer">
  <div class="ModuleSummary__content">
    <div class="flexContentWrapper">
      <h1 class="ModuleSummary__title ContentPanel__title">Well done!</h1>
      <p>You’ve completed the <span class="nbnMention">nbn</span> and your role in connecting Australia course.</p>
      <h2 class="ModuleSummary__subheading">
        Before you go, here are the key take-outs:
      </h2>
      <ul>
        <li>You are a part of one of Australia’s largest infrastructure projects, playing a direct role in achieving our goal of connecting Australia.</li>
        <li>Every time you put on your uniform and <span class="nbnMention">nbn</span>™ branded clothing to visit a customer’s premises, you become the face of <span class="nbnMention">nbn</span>.</li>
        <li>What you say and do reflects on the <span class="nbnMention">nbn</span>™ brand and how customers view our brand.</li>
        <li>Treat our customers and members of the community in the same way that you would expect to be treated by a brand that you deal with.</li>
      </ul>
      <p>For more information on <span class="nbnMention">nbn</span>, please visit our website at&nbsp;<a href="//www.nbn.com.au" target="blank">www.nbn.com.au</a></p>
    </div>
  </div>
  <div class="ModuleSummary__imageContainer"></div>
</div>
