@import nib;
@import '~styles/vars';
@import '~styles/mixins';

.Masthead {
  width: 100%;
  transform: translateZ(0);
  transition: all 0.2s ease-out;
  height: mastheadHeight;
  background-color: white;
  position: relative;
}

.Masthead_hidden {
  transform: translateY(-100%);
}

.Masthead__logoGraphic {
  backgroundContain();
  width: 5rem;
  height: 100%;
  float: left;
  margin-left: pageVGutter * 0.4;
  background-image: url(@import '~images/nbnLogoGraphicCompactLandscape.png');
  background-position: left 56%;
}

.Masthead__moduleMenuToggle {
  backgroundContain();
  float: right;
  width: 5rem;
  margin-right: pageVGutter * 0.4;
  height: 100%;
  cursor: pointer;
  background-image: url('./hamburgerMenu.png');
  background-size: auto 26%;
  background-position: right center;
}

.Masthead__moduleMenu {
  transition: all 0.2s ease-out;
  transform: translateZ(0);
  width: 16rem;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: rgba(white, 0.94);
  padding: 0.6rem 2rem;
}

.Masthead__moduleMenu__link {
  transition: all 0.2s ease-out;
  display: block;
  color: lighten(colBody, 30%)
  text-decoration: none;
  text-align: center;
  padding: 1.4rem 0;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid lighten(colBody, 80%);
  }

  &[data-available="true"]:hover {
    color: colBody;
  }

  &[data-available="false"] {
    color: lighten(colBody, 80%);
    cursor: default;
  }
}

@media (max-width: breakpointMobile) {
  .Masthead {
    height: mastheadHeightMobile;
  }

  .Masthead__logoGraphic {
    width: 4rem;
  }
}

