@import 'nib/clearfix';
@import '~styles/vars';
@import '~styles/mixins';

.BeingKnowledgable {
  backgroundCover(url('./background.jpg'));
}

.BeingKnowledgable__interactArea {
  position: relative;
  width: 100%;
}

.BeingKnowledgable__contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}

.BeingKnowledgable__title,
.BeingKnowledgable__intro,
.BeingKnowledgable__outro {
  text-align: center;
}

.BeingKnowledgable__intro,
.BeingKnowledgable__outro {
  max-width: 40rem;
  font-size: 0.98rem;
  margin: 0 auto;
}

.BeingKnowledgable__technologiesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 6vh 0 2vh;
}

.BeingKnowledgable__technology {
  flexCenter(column);
  transition: all 0.2s ease-out;
  transform: translateZ(0);
  backface-visibility: hidden;
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 0.6rem;
  cursor: pointer;

  &.current {
    transform: scale(1.08);
  }
}

@keyframes iconPulserAnim {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}

.BeingKnowledgable__technology__icon {
  size(10vmin);
  position: relative;

  .current & {
    .BeingKnowledgable__technology__icon__pulser {
      animation: iconPulserAnim 0.64s ease-out;
    }
  }
}

.BeingKnowledgable__technology__icon__figure,
.BeingKnowledgable__technology__icon__pulser {
  positionAbs(0px, 0px, 0px, 0px);
  background-color: colBlueDeep;
  border-radius: 50%;
}

.BeingKnowledgable__technology__icon__figure {
  backgroundCover();
  box-shadow: 0px 0px 1px rgba(black, 0.4);
  z-index: 2;
}

.BeingKnowledgable__technology__icon__pulser {
  z-index: 1;
}

.BeingKnowledgable__technology__caption {
  flexCenter();
  opacity: 0.9;
  font-weight: 400;
  width: 100%;
  margin: 0.6rem 0 0 0;

  .current & {
    opacity: 1;
    font-weight: 700;
    color: colBlueDeep;
  }
}

.BeingKnowledgable__technology__captionContent {
  text-align: center;
  font-size: 0.86em;
}

.BeingKnowledgable__descriptionsContainer {
  position: relative;
}

.BeingKnowledgable__description {
  size(40rem, auto);
  positionAbs(0px, auto, auto, 50%);
  max-width: 40rem;
  margin-left: -20rem;
  transition:
    opacity 0.4s ease-out,
    transform 0.4s ease-out;
  padding: 0.8rem;
  background-color: rgba(colBlueDeep, 0.9);
  border-radius: 0.4rem;
  color: white;
  opacity: 0;
  transform: translateY(-10%);
  text-align: center;
  box-shadow: 0px 0px 2px rgba(black, 0.4);

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.BeingKnowledgable__description__title {
  text-align: center;
  margin-bottom: 0.4em;
  font-weight: bold;
  cursor: pointer;

  &:after {
    display: block;
    float: right;
    content: 'x';
  }
}

.BeingKnowledgable__description__content {
  cursor: pointer;
}

@media (max-width: breakpointMobile) {
  .BeingKnowledgable__technologiesContainer {
    display: block;
    width: 100%;
  }

  .BeingKnowledgable__descriptionsContainer {
    positionAbs(0px, 0px, auto, 0px);
    z-index: 2;
  }

  techHeight = 4.6rem;

  .BeingKnowledgable__description {
    size(0px, 0px);
    pointer-events: none;
    overflow: hidden;
    max-width: 100%;
    padding: 0;
    left: auto;
    margin: 0;

    &.visible {
      size(100%, auto);
      padding: 0.8rem;
      pointer-events: all;
    }

    &[data-key="fttpnb"] {
      top: techHeight;
    }

    &[data-key="hfc"] {
      top: techHeight * 2;
    }

    &[data-key="satellite"] {
      top: techHeight * 3;
    }

    &[data-key="wireless"] {
      top: techHeight * 4;
    }
  }

  .BeingKnowledgable__technology {
    positionRel();
    height: techHeight;
    display: block;
    margin-bottom: 1rem;
  }

  .BeingKnowledgable__technology__icon {
    positionAbs(0px, auto, auto, 0px);
    size(4.6rem);
  }

  .BeingKnowledgable__technology__caption {
    positionAbs(0px, 0px, 0px, 4.6rem);
    width: auto;
    padding: 0 1rem;
    margin: 0;
  }

  .BeingKnowledgable__technology__captionContent {
    text-align: left;
    font-size: 0.9rem;
  }
}
