<div class="BeingKnowledgable__technology" data-key="<%= key %>">
  <div class="BeingKnowledgable__technology__icon">
    <div class="BeingKnowledgable__technology__icon__pulser"></div>
    <div
      class="BeingKnowledgable__technology__icon__figure"
      style="background-image: url(<%= icon %>)"
    ></div>
  </div>
  <div class="BeingKnowledgable__technology__caption">
    <div class="flexContentWrapper">
      <div class="BeingKnowledgable__technology__captionContent">
        <%= caption %>
      </div>
    </div>
  </div>
</div>
