@import '~styles/vars';
@import '~styles/mixins';

.OpportunitiesOpsMaintain {
  backgroundCover(url('./opsMaintainBackground.jpg'));
}

.OpportunitiesOpsMaintain__content,
.OpportunitiesOpsMaintain__imageContainer {
  height: 100%;
}

.OpportunitiesOpsMaintain__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-right: 1em;
  width: 60%;
  float: left;
}

.OpportunitiesOpsMaintain__imageContainer {
  backgroundContain();
  width: 40%;
  float: right;
}

.OpportunitiesOpsMaintain.ContentPanel_reverseContent {
  .OpportunitiesOpsMaintain__content {
    float: right;
    padding-left: 1rem;
  }

  .OpportunitiesOpsMaintain__imageContainer {
    float: left;
  }
}

@media (max-width: breakpointMobile) {
  .OpportunitiesOpsMaintain__content,
  .OpportunitiesOpsMaintain__imageContainer {
    float: none;
    clear: both;
    width: 100%;
  }

  .OpportunitiesOpsMaintain__content {
    height: auto;
    margin-bottom: 4vh;

    .ContentPanel__title {
      text-align: center;
    }
  }

  .OpportunitiesOpsMaintain__imageContainer {
    height: 40vh;
  }
}
