<div class="OpportunitiesOpsMaintain__content">
  <div class="flexContentWrapper">
    <h1 class="ContentPanel__title">Opportunities in operate and maintain activities</h1>
    <p>The work doesn’t stop when the network is constructed. We will need a significant skilled workforce to be involved in ongoing work to ensure that the quality of the <span class="nbnMention">nbn</span>™ network is maintained and that it operates efficiently.</p>
  </div>
</div>
<div class="OpportunitiesOpsMaintain__imageContainer" style="background-image: url(<%= figure %>);"></div>
