<div class="EscalatingQueries__content">
  <div class="flexContentWrapper">
    <h1 class="EscalatingQueries__title ContentPanel__title">
      Escalating customer queries
    </h1>
    <div class="EscalatingQueries__steps">
    <% each(steps, function (stepContent, index) { %>
      <div
        class="EscalatingQueries__step"
        data-step="<%= index + 1 %>"
      >
        <%= stepContent %>
      </div>
      <% if (index < steps.length - 1) { %>
      <div class="EscalatingQueries__arrow"></div>
      <% } %>
    <% }) %>
    </div>
  </div>
</div>
