<div class="BrandChecklist__content">
  <div class="flexContentWrapper">
    <h1 class="ContentPanel__title BrandChecklist__title">Brand checklist</h1>
    <p class="BrandChecklist__intro">To provide a positive customer experience:</p>
    <div class="BrandChecklist__checklistContainer">
      <h2 class="ContentPanel__subTitle BrandChecklist__checklistTitle">Checklist:</h2>
      <ul class="BrandChecklist__checklist">
        <li>Be on time</li>
        <li>Dress in full uniform which is clean and well maintained</li>
        <li>Display your personal ID name tag or company Letter of Authority</li>
        <li>Introduce yourself and the company you are working for</li>
        <li>Be polite and respectful</li>
      </ul>
      <p class="BrandChecklist__checklistMessage">
        Remember, providing good customer service is just as important as the work you physically do in the street or on a customer’s premises.
      </p>
    </div>
  </div>
</div>
