@import '~styles/vars';
@import '~styles/mixins';

.NbnBrandYourRole {
  color: white;
  background-color: #333;

  .NbnPulseLogo {
    positionAbs(auto, auto, 36%, 44%);
    z-index: 99;
  }

  @media (max-width: breakpointMobile) {
    .NbnPulseLogo {
      top: 86vh;
      bottom: auto;
      left: 6rem;
    }
  }
}

.NbnBrandYourRole__background {
  positionAbs(0px, 0px, 0px, 0px);
  backgroundCover(url('./background.jpg'));
  opacity: 0.2;
  background-position: 40% 20%;
  z-index: 1;

  @media (max-width: breakpointMobile) {
    background-position: 10% top;
  }
}

.NbnBrandYourRole__contentContainer {
  size(100%);
  position: relative;
  opacity: 0;
  z-index: 2;
}

.NbnBrandYourRole__titleContainer,
.NbnBrandYourRole__contentPanelsContainer {
  positionAbs(6vh, auto, 6vh, auto);
}

.NbnBrandYourRole__titleContainer {
  flexCenter();
  justify-content: flex-start;
  left: 0px;
  width: 28%;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.1;

  em {
    font-size: 1.4em;
    color: colBlue;
  }

  @media (max-width: breakpointMobile) {
    positionRel();
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.NbnBrandYourRole__title {
  width: 12rem;
}

.NbnBrandYourRole__contentPanelsContainer {
  left: 28%;
  right: 0;

  @media (max-width: breakpointMobile) {
    positionRel();
  }
}

panelGutter = 0.3rem;

.NbnBrandYourRole__contentPanelsColumn {
  positionAbs(0px, auto, 0px, auto);

  width: 50%;
  width: 'calc(50% - %s)' % panelGutter;

  &:nth-child(1) {
    left: 0px;
  }

  &:nth-child(2) {
    right: 0px;
  }

  @media (max-width: breakpointMobile) {
    positionRel();
    width: 100%;
  }
}

.NbnBrandYourRole__contentPanel {
  flexCenter();

  height: 50%;
  height: 'calc(50% - %s)' % panelGutter;

  background-color: rgba(colGreyPale, 0.4);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 0.98rem;
  opacity: 0;

  &:first-child {
    margin-bottom: panelGutter * 2;
  }

  @media (max-width: breakpointMobile) {
    height: auto;
    margin-bottom: 1rem !important;
  }
}

.NbnBrandYourRole__contentPanelContent {
  width: 99%;
  em {
    font-size: 1.1em;
    font-weight: 700;
  }
}
