<div class="RepresentingNBNSectionSummary__contentContainer ContentPanel__contentContainer">
  <div class="RepresentingNBNSectionSummary__tickContainer">
    <div class="RepresentingNBNSectionSummary__tick"></div>
  </div>
  <div class="RepresentingNBNSectionSummary__content">
    <div class="flexContentWrapper">
      <div class="RepresentingNBNSectionSummary__title ContentPanel__title"><%= summaryTitle %></div>
      <div class="RepresentingNBNSectionSummary__miniDashboardContainer MiniDashboardContainer"></div>
      <div class="RepresentingNBNSectionSummary__summary"><%= summaryContent %></div>
    </div>
  </div>
</div>

<div class="RepresentingNBNSectionSummary__continueButton">Continue</div>
