<div class="DeEscalationSkills__imageContainer"></div>

<div class="DeEscalationSkills__content">
  <div class="flexContentWrapper">
    <h1 class="DeEscalationSkills__title ContentPanel__title">
      Customer consultation skills
    </h1>
    <div class="DeEscalationSkills__introContent">
      <p>You may interact with customers who have questions, concerns or complaints. Look at the following scenario:</p>
      <p>You are in the process of installing the <span class="nbnMention">nbn</span>™ network at Mrs. A’s house. It has taken you a bit longer than expected. Mrs. A is becoming impatient and starts to complain about your work. Do you… <strong>(select one answer)</strong></p>
    </div>
    <div class="DeEscalationSkills__options">
    <% each(answerOptions, function (option) { %>
      <div class="DeEscalationSkills__option" data-key="<%= option.key %>">
        <%= option.content %>
      </div>
    <% }) %>
    </div>
    <div class="DeEscalationSkills__checkAnswerButton">
      Check Answer
    </div>
  </div>
</div>

<div class="DeEscalationSkills__feedbackContainer">
  <div class="DeEscalationSkills__feedback">
    <div class="DeEscalationSkills__feedback__title"></div>
    <div class="DeEscalationSkills__feedback__content">
      <p>The best action here is to remain calm and politely explain why the work is taking longer. No matter what the situation, it is important to remain professional.</p>
      <p>Continuing with the scenario, despite your best attempt, Mrs. A still isn’t happy. She’s now getting frustrated.</p>
      <p>It’s time to escalate Mrs. A’s concerns. <strong>Scroll down</strong> to learn what’s involved.</p>
    </div>
  </div>
</div>
