<div class="MoreContent__content">
  <div class="flexContentWrapper">
    <h1 class="ContentPanel__title">Other screens to come...</h1>
    <p>Risus mi purus phasellus nulla nulla, elit integer non ipsum vestibulum ridiculus congue. Neque imperdiet eget mollis phasellus suspendisse duis, tortor enim faucibus, dapibus ligula sed integer lobortis ut quam.</p>
    <p>Nunc phasellus ultrices libero viverra, adipiscing vestibulum sed non sociis lobortis laoreet, vestibulum sollicitudin vestibulum in dolor, amet pellentesque ut. Pede vel dui lacus pede id rutrum.</p>
  </div>
</div>
<div class="MoreContent__imageContainer" style="background-image: url(<%= moreContentImage %>);"></div>
