<div class="BigPicture__cover" style="background-image: url(<%= coverImage %>);">
  <div class="BigPicture__cover__nbnLogo"></div>
  <div class="BigPicture__cover__content">
    <div class="flexContentWrapper">
      <div class="BigPicture__cover__title">nbn and Your Role in Connecting&nbsp;Australia</div>
      <div class="BigPicture__cover__subTitle">Online Course</div>
    </div>
  </div>
  <div class="BigPicture__cover__scrollDownButton">Scroll Down</div>
</div>
<div class="BigPicture__activitiesContainer Section__activityContainer"></div>
<div class="BigPicture__summaryContainer Section__summaryContainer"></div>
