@import 'nib/clearfix';
@import '~styles/vars';
@import '~styles/mixins';

// 510 x 799
networkWidth = 80vw;
networkHeight = networkWidth * (799/510);
nodeDim = networkWidth * 0.36;
networkWidthMax = 400px;
networkHeightMax = networkWidthMax * (799/510);
nodeDimMax = networkWidthMax * 0.36;

.YourRoleMobile {
  background-color: #333;
  position: relative;
}

.YourRoleMobile .NbnPulseLogo {
  // position: absolute;
  // right: 100px;
  // top: 80vh;
  // z-index: 20;

  z-index: 20;
  positionAbs(55vh, auto, auto, 49%);
}

.YourRoleMobile__background {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0.3;
  background-image: url('../background.png');
  background-size: cover;
  background-position: 20% bottom;
  z-index: 1;
}

.YourRoleMobile__title {
  color: white;
  shadowText();
}

.YourRoleMobile .ContentPanel__contentContainer {
  position: relative;
  z-index: 2;
}

.YourRoleMobile__mainContentContainer {
  transition: opacity 0.2s ease-out;
  color: white;
  opacity: 1;
  pointer-events: all;
}

.YourRoleMobile__mainContent_hidden {
  opacity: 0;
  pointer-events: none;
  height: 100%;
  overflow: hidden;
}

.YourRoleMobile__clickMessage,
.YourRoleMobile__intro {
  transition: opacity 0.6s ease-out, transform 0.4s ease-out;
  width: auto;
  height: auto;
  opacity: 1;
  font-size: 1rem;
  line-height: 1.4;
  transform: translateX(0);

  &.hidden {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(10vw);
  }
}

.YourRoleMobile__intro {
  font-size: 1.1em;
}

.YourRoleMobile__videoLink {
  shadowText();
  videoLink();
}

.YourRoleMobile__intro {
  shadowText();
}

.YourRoleMobile__interactArea {
  position: relative;
}

.YourRoleMobile__network {
  width: networkWidth;
  height: networkHeight;
  max-width: networkWidthMax;
  max-height: networkHeightMax;
  margin: 4vh auto 8vh;
  position: relative;
  z-index: 1;
}

.YourRoleMobile__networkImage {
  backgroundContain();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./networkMobile.png');
  z-index: 1;
}

.YourRoleMobile__clickable {
  transition:
    opacity 0.8s ease-out,
    background-color 0.8s ease-out,
    transform 0.8s ease-out;
  position: absolute;
  width: nodeDim;
  height: nodeDim;
  max-width: nodeDimMax;
  max-height: nodeDimMax;
  cursor: pointer;
  background-color: rgba(black, 0.6);
  box-shadow: 0 0 3px colBlue;
  border-radius: 50%;
  z-index: 2;

  &:after {
    // afterDim = nodeDim * 0.3;
    afterDim = 34%;
    disc(afterDim);
    margin: (-0.5 * afterDim) 0 0 (-0.5 * afterDim);
    position: absolute;
    top: 50%;
    left: 50%;
    content: ' ';
    z-index: 2;
    box-shadow: 0 0 6px rgba(black, 0.6);
    background-color: colBlue;
    background-image: url(@import '~images/arrowheadRightWhite.png');
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: center center;
  }
}

.YourRoleMobile__clickable_hasClick {
  background-color: transparent;

  &:after {
    afterDim = 24%;
    disc(afterDim);
    margin: (-0.5 * afterDim) 0 0 (-0.5 * afterDim);
  }
}

.YourRoleMobile__clickable_currentClick {
  transform: scale(1.2);
  opacity: 0;
}

.YourRoleMobile__clickable[data-key="family"] {
  top: 2.61%;
  left: 60.18%;
}

.YourRoleMobile__clickable[data-key="technology"] {
  top: 39.02%;
  left: 3.18%;
}

.YourRoleMobile__clickable[data-key="education"] {
  top: 74.4%;
  left: 60.45%;
}

.YourRoleMobile__clickMessagesContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.YourRoleMobile__clickMessage {
  position: absolute;
  top: 0.2 * networkHeight;
  width: 100%;
  background-color: rgba(colBlue, 0.8);
  border-radius: 0.4rem;
  padding: 1em 1.4em 1em 1em;
  box-shadow: 0 0 6px rgba(black, 0.4);
  cursor: pointer;
}

.YourRoleMobile__clickMessage[data-key="teacher"] {
  top: 0.3 * networkHeight;
}

.YourRoleMobile__clickMessage__closeButton {
  width: 4em;
  height: 4em;
  line-height: 1;
  top: 0;
  right: 0;
  padding: 0.6em;
  text-align: right;
  position: absolute;
}

